// =========================================================
// !!! include media query inside the selector==============
// =========================================================
// Example:
// @use '../../bootstrap/mixins' as mixin;
// header {
//   width: 200px;

//   @include mixin.media-breakpoint-up(md) {
//     width: 100px;
//   }
// }
// =========================================================
// =========================================================

// use t3kit variables based on bootstrap variables
// check "theme/src/styles/_variables.scss"
@use '../../variables' as var;
// use bootstrap mixins based on t3kit variable overrides
// check "theme/src/styles/bootstrap/mixins/_index.scss"
@use '../../bootstrap/mixins' as mixin;
// use t3kit mixins
@use '../../mixins/text-clamp' as t3mix;

.ce-hero-image {
  position: relative;
}

.ce-hero-image__caption-wrp {
  display: flex;
  align-items: center;

  @include mixin.media-breakpoint-down(sm) {
    min-height: 460px !important;
  }
}

.ce-hero-image__caption-wrp--left {
  justify-content: flex-start;
}

.ce-hero-image__caption-wrp--center {
  justify-content: center;
}

.ce-hero-image__caption-wrp--right {
  justify-content: flex-end;
}

.ce-hero-image__caption {
  -webkit-font-smoothing: antialiased;
}

.ce-hero-image .picture-partial__item-img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.ce-hero-image__caption-header h1 {
  font-weight: 900;
  color: var(--t3-primary);

  @include mixin.font-size(5rem);
}

.ce-hero-image__caption-subheader h2 {
  font-weight: 900;
  color: var(--t3-white);

  @include mixin.font-size(5rem);
}

.ce-hero-image__caption-bodytext .bodytext-partial {
  color: var(--t3-white);

  @include mixin.font-size(2rem);
  @include t3mix.text-clamp(2);

  @include mixin.media-breakpoint-up(md) {
    @include t3mix.text-clamp(3);
  }
}

.ce-hero-image__caption-wrp--overlay-primary {
  .picture-partial__item-img {
    background-color: var.$primary;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: transparentize(var.$primary, 0.6);
  }
}

.ce-hero-image__caption-wrp--overlay-secondary {
  background-color: transparentize(var.$secondary, 0.6);
}

.ce-hero-image__caption-wrp--overlay-dark {
  background-color: transparentize(var.$dark, 0.6);
}

.ce-hero-image__caption-wrp--overlay-light {
  background-color: transparentize(var.$light, 0.6);
}
