.forgot-pass-link,
.return-to-login {
    text-align: left;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
}

// @media (min-width: $screen-sm-min) {
@include media-breakpoint-up(md) {
    .forgot-pass-link,
    .return-to-login {
        text-align: right;
        width: 100%;
        margin-top: 0;
    }
}
