<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

  <f:if condition="{content}">

    <div class="ce-menu__wrp">
      <div class="ce-menu ce-menu--categorized-content">

        <ul class="ce-menu__list">
          <f:for each="{content}" as="element">
            <li class="ce-menu__list-item">
              <f:link.page pageUid="{element.data.pid}" section="{element.data.uid}"></f:link.page>
                <span class="ce-menu__list-item-header">{element.data.header}</span>
              </f:link.page>
            </li>
          </f:for>
        </ul>

      </div>
    </div>


  </f:if>

</f:section>

</html>
