.btn {
  /* Buttons */
  --t3-btn-font-size: 1rem;
  --t3-btn-font-weight: 600;
  --t3-btn-border: 3px;
  --t3-btn-border-radius: 0;
  --t3-btn-padding-top: 0.6rem;
  --t3-btn-padding-left: 3rem;

  /* btn primary */
  --t3-btn-primary-bg-hs: var(--t3-secondary-hs);
  --t3-btn-primary-bg-l: var(--t3-secondary-l);
  --t3-btn-primary-bg: hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l));
  --t3-btn-primary-color: var(--t3-body-bg);
  --t3-btn-primary-border-color: hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l));
  --t3-btn-primary-hover-color: var(--t3-btn-primary-color);
  --t3-btn-primary-hover-bg: hsl(var(--t3-btn-primary-bg-hs) calc(var(--t3-btn-primary-bg-l) - 8%));
  --t3-btn-primary-hover-border-color: hsl(var(--t3-btn-primary-bg-hs) calc(var(--t3-btn-primary-bg-l) - 10%));
  --t3-btn-primary-active-color: var(--t3-btn-primary-color);
  --t3-btn-primary-active-bg: hsl(var(--t3-btn-primary-bg-hs) calc(var(--t3-btn-primary-bg-l) - 10%));
  --t3-btn-primary-active-border-color: hsl(var(--t3-btn-primary-bg-hs) calc(var(--t3-btn-primary-bg-l) - 13%));

  /* btn light */
  --t3-btn-light-bg-hs: var(--t3-light-hs);
  --t3-btn-light-bg-l: var(--t3-light-l);
  --t3-btn-light-bg: hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l));
  --t3-btn-light-color: var(--t3-body-color);
  --t3-btn-light-border-color: hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l));
  --t3-btn-light-hover-color: var(--t3-btn-light-color);
  --t3-btn-light-hover-bg: hsl(var(--t3-btn-light-bg-hs) calc(var(--t3-btn-light-bg-l) - 8%));
  --t3-btn-light-hover-border-color: hsl(var(--t3-btn-light-bg-hs) calc(var(--t3-btn-light-bg-l) - 10%));
  --t3-btn-light-active-color: var(--t3-btn-light-color);
  --t3-btn-light-active-bg: hsl(var(--t3-btn-light-bg-hs) calc(var(--t3-btn-light-bg-l) - 10%));
  --t3-btn-light-active-border-color: hsl(var(--t3-btn-light-bg-hs) calc(var(--t3-btn-light-bg-l) - 13%));

  /* btn dark */
  --t3-btn-dark-bg-hs: var(--t3-dark-hs);
  --t3-btn-dark-bg-l: var(--t3-dark-l);
  --t3-btn-dark-bg: hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l));
  --t3-btn-dark-color: var(--t3-body-bg);
  --t3-btn-dark-border-color: hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l));
  --t3-btn-dark-hover-color: var(--t3-btn-dark-color);
  --t3-btn-dark-hover-bg: hsl(var(--t3-btn-dark-bg-hs) calc(var(--t3-btn-dark-bg-l) - 8%));
  --t3-btn-dark-hover-border-color: hsl(var(--t3-btn-dark-bg-hs) calc(var(--t3-btn-dark-bg-l) - 10%));
  --t3-btn-dark-active-color: var(--t3-btn-dark-color);
  --t3-btn-dark-active-bg: hsl(var(--t3-btn-dark-bg-hs) calc(var(--t3-btn-dark-bg-l) - 10%));
  --t3-btn-dark-active-border-color: hsl(var(--t3-btn-dark-bg-hs) calc(var(--t3-btn-dark-bg-l) - 13%));

  display: inline-block;
  font-weight: var(--t3-btn-font-weight);
  line-height: 1.6;
  color: var(--t3-body-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: var(--t3-btn-border) solid transparent;
  padding: var(--t3-btn-padding-top) var(--t3-btn-padding-left);
  font-size: var(--t3-btn-font-size);
  border-radius: var(--t3-btn-border-radius);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--t3-body-color);
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l) / 30%);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-lg {
  padding: calc(var(--t3-btn-padding-top) * 1.4) calc(var(--t3-btn-padding-left) * 1.4);
  font-size: calc(var(--t3-btn-font-size) * 1.25);
  border-radius: calc(var(--t3-btn-border-radius) * 1.2);
}

.btn-sm {
  padding: calc(var(--t3-btn-padding-top) * 0.65) calc(var(--t3-btn-padding-left) * 0.65);
  font-size: calc(var(--t3-btn-font-size) * 0.8);
  border-radius: calc(var(--t3-btn-border-radius) * 0.8);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

/* primary button style */
.btn-primary {
  color: var(--t3-btn-primary-color);
  background-color: var(--t3-btn-primary-bg);
  border-color: var(--t3-btn-primary-border-color);
}

.btn-primary:hover {
  color: var(--t3-btn-primary-hover-color);
  background-color: var(--t3-btn-primary-hover-bg);
  border-color: var(--t3-btn-primary-hover-border-color);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: var(--t3-btn-primary-color);
  background-color: var(--t3-btn-primary-bg);
  border-color: var(--t3-btn-primary-border-color);
}

.btn-primary:focus,
.btn-primary.focus {
  color: var(--t3-btn-primary-hover-color);
  background-color: var(--t3-btn-primary-hover-bg);
  border-color: var(--t3-btn-primary-hover-border-color);
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l) / 50%);
}

.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: var(--t3-btn-primary-active-color);
  background-color: var(--t3-btn-primary-active-bg);
  border-color: var(--t3-btn-primary-active-border-color);
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l) / 50%);
}

/* light button style */
.btn-light {
  color: var(--t3-btn-light-color);
  background-color: var(--t3-btn-light-bg);
  border-color: var(--t3-btn-light-border-color);
}

.btn-light:hover {
  color: var(--t3-btn-light-hover-color);
  background-color: var(--t3-btn-light-hover-bg);
  border-color: var(--t3-btn-light-hover-border-color);
}

.btn-light:disabled,
.btn-light.disabled {
  color: var(--t3-btn-light-color);
  background-color: var(--t3-btn-light-bg);
  border-color: var(--t3-btn-light-border-color);
}

.btn-light:focus,
.btn-light.focus {
  color: var(--t3-btn-light-hover-color);
  background-color: var(--t3-btn-light-hover-bg);
  border-color: var(--t3-btn-light-hover-border-color);
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l) / 50%);
}

.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
  color: var(--t3-btn-light-active-color);
  background-color: var(--t3-btn-light-active-bg);
  border-color: var(--t3-btn-light-active-border-color);
}

.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l) / 50%);
}

/* dark button style */
.btn-dark {
  color: var(--t3-btn-dark-color);
  background-color: var(--t3-btn-dark-bg);
  border-color: var(--t3-btn-dark-border-color);
}

.btn-dark:hover {
  color: var(--t3-btn-dark-hover-color);
  background-color: var(--t3-btn-dark-hover-bg);
  border-color: var(--t3-btn-dark-hover-border-color);
}

.btn-dark:disabled,
.btn-dark.disabled {
  color: var(--t3-btn-dark-color);
  background-color: var(--t3-btn-dark-bg);
  border-color: var(--t3-btn-dark-border-color);
}

.btn-dark:focus,
.btn-dark.focus {
  color: var(--t3-btn-dark-hover-color);
  background-color: var(--t3-btn-dark-hover-bg);
  border-color: var(--t3-btn-dark-hover-border-color);
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l) / 50%);
}

.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
  color: var(--t3-btn-dark-active-color);
  background-color: var(--t3-btn-dark-active-bg);
  border-color: var(--t3-btn-dark-active-border-color);
}

.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l) / 50%);
}

/* outline-primary */
.btn-outline-primary {
  color: var(--t3-btn-primary-bg);
  border-color: var(--t3-btn-primary-border-color);
}

.btn-outline-primary:hover {
  color: var(--t3-btn-primary-hover-color);
  background-color: var(--t3-btn-primary-hover-bg);
  border-color: var(--t3-btn-primary-hover-border-color);
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  color: var(--t3-btn-primary-bg);
  background-color: transparent;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l) / 50%);
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
  color: var(--t3-btn-primary-active-color);
  background-color: var(--t3-btn-primary-active-bg);
  border-color: var(--t3-btn-primary-active-border-color);
}

.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-primary-bg-hs) var(--t3-btn-primary-bg-l) / 50%);
}

/* outline-light */
.btn-outline-light {
  color: var(--t3-btn-light-bg);
  border-color: var(--t3-btn-light-border-color);
}

.btn-outline-light:hover {
  color: var(--t3-btn-light-hover-color);
  background-color: var(--t3-btn-light-hover-bg);
  border-color: var(--t3-btn-light-hover-border-color);
}

.btn-outline-light:disabled,
.btn-outline-light.disabled {
  color: var(--t3-btn-light-bg);
  background-color: transparent;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l) / 50%);
}

.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
  color: var(--t3-btn-light-active-color);
  background-color: var(--t3-btn-light-active-bg);
  border-color: var(--t3-btn-light-active-border-color);
}

.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-light-bg-hs) var(--t3-btn-light-bg-l) / 50%);
}

/* outline-dark */
.btn-outline-dark {
  color: var(--t3-btn-dark-bg);
  border-color: var(--t3-btn-dark-border-color);
}

.btn-outline-dark:hover {
  color: var(--t3-btn-dark-hover-color);
  background-color: var(--t3-btn-dark-hover-bg);
  border-color: var(--t3-btn-dark-hover-border-color);
}

.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
  color: var(--t3-btn-dark-bg);
  background-color: transparent;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l) / 50%);
}

.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
  color: var(--t3-btn-dark-active-color);
  background-color: var(--t3-btn-dark-active-bg);
  border-color: var(--t3-btn-dark-active-border-color);
}

.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem hsl(var(--t3-btn-dark-bg-hs) var(--t3-btn-dark-bg-l) / 50%);
}
