<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{page} && {link} && {title}">
  <f:if condition="{page.target}">

    <f:then>
      <a class="page-link-partial page-blank-link" href="{link}" target="{page.target}" rel="noreferrer">
        <strong class="page-link-partial__title page-blank-link__title">{title}</strong>
        <span class="page-blank-link__msg">
          <f:translate key="target_blank" extensionName="t3kit" />
        </span>
        <span class="page-blank-link__icon-wrp">
          <svg class="page-blank-link__icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          </svg>
        </span>
      </a>
    </f:then>

    <f:else>
      <a class="page-link-partial" href="{link}">
        <span class="page-link-partial__title">{title}</span>
      </a>
    </f:else>

  </f:if>
</f:if>

</html>
