<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="DefaultNoSearch" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Grid/Col2.html [begin] -->

  <div class="ce-grid-col2__wrp">
    <div class="ce-grid-col2">

      <div class="row row-cols-1 row-cols-lg-2 gx-5">

        <div class="col">
          <f:if condition="{children_5099}">
            <f:for each="{children_5099}" as="child">
              <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
          </f:if>
        </div>

        <div class="col">
          <f:if condition="{children_5098}">
            <f:for each="{children_5098}" as="child">
              <f:format.raw>{child.renderedContent}</f:format.raw>
            </f:for>
          </f:if>
        </div>

      </div>

    </div>
  </div>

<!-- t3kit: Resources/Private/Templates/ContentElements/Grid/Col2.html [end] -->
</f:section>

</html>
