# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# general config
indent_style = space
indent_size = 4

# HTML-Files
[*.html]
indent_style = tab
indent_size = 2

# TMPL-Files
[*.tmpl]
indent_style = tab
indent_size = 4

# JS-Files
[*.js]
indent_style = space
indent_size = 2

# ReST-Files
[*.rst]
indent_style = space
indent_size = 3

# TypoScript
[*.{txt,ts,setupts,constantsts,pagets}]
indent_size = 2
indent_style = space

[*.{json,yml,yaml,md,sql}]
indent_size = 2
indent_style = space


[*.xlf]
indent_style = tab
indent_size = 4

[*.{xml,xsd,sql}]
indent_size = 2
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[.stylelintrc]
indent_size = 2
indent_style = space
