web/typo3temp
web/uploads

web/typo3conf/realurl_fixedPostVars_conf.php

*deprecation_*.log
*ENABLE_INSTALL_TOOL*

web/fileadmin/*
!web/fileadmin/example_content/
!web/fileadmin/Configuration/
!web/fileadmin/custom/
!web/fileadmin/forms/

.idea/

index.php
web/typo3
web/typo3conf/ext/*
web/typo3conf/l10n/*
vendor
web/typo3_src

var/

# Solr
solrdata/*
# Keep the actual folder
!solrdata/.gitkeep

# Docker Sync https://github.com/EugenMayer/docker-sync
._.DS_Store
.docker-sync/

.unison*
._.DS_Store
.vscode/

.env
