typo3temp
uploads

typo3conf/realurl_fixedPostVars_conf.php

*deprecation_*.log
*ENABLE_INSTALL_TOOL*

fileadmin/*
!fileadmin/example_content/
!fileadmin/templates/
!fileadmin/custom/

.idea/

index.php
typo3
typo3conf/ext/*
vendor
typo3_src

composer.lock

# Solr
solrdata/*
# Keep the actual folder
!solrdata/.gitkeep