// Text Clamp (Truncating Multiple Line Text)
.text-clamp-base {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp2 {
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  -webkit-line-clamp: 3;
}

.line-clamp4 {
  -webkit-line-clamp: 4;
}

.line-clamp5 {
  -webkit-line-clamp: 5;
}
