.ce-simple-site-header {
  --t3-ce-header-nav-padding-top: 0.5rem;
  --t3-ce-header-nav-padding-right: 0;
  --t3-ce-header-nav-padding-bottom: 0.5rem;
  --t3-ce-header-nav-padding-left: 0;
  --t3-ce-header-nav-logo-padding-top: 0.3125rem;
  --t3-ce-header-nav-logo-padding-bottom: 0.3125rem;
  --t3-ce-header-nav-logo-margin-right: 2rem;
  --t3-ce-header-nav-bg: var(--t3-main-nav-bg);
  --t3-ce-header-nav-color-hs: var(--t3-main-nav-color-hs);
  --t3-ce-header-nav-color-l: var(--t3-main-nav-color-l);
  --t3-ce-header-nav-link-padding-top: 0.7rem;
  --t3-ce-header-nav-link-padding-left: 1rem;
  --t3-ce-header-nav-link-padding-right: 1rem;
  --t3-ce-header-nav-link-text-decoration: none;
  --t3-ce-header-nav-color: hsl(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l));
  --t3-ce-header-nav-hover-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
  --t3-ce-header-nav-hover-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.08);
  --t3-ce-header-nav-active-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
  --t3-ce-header-nav-active-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.05);
  --t3-ce-header-nav-font-size: 1rem;
  --t3-ce-header-nav-toggler-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.55);
  --t3-ce-header-nav-toggler-border-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.2);
  --t3-ce-header-nav-toggler-padding: 0.25rem 0.75rem;
  --t3-ce-header-nav-toggler-border: 1px;
  --t3-ce-header-nav-toggler-border-radius: 0.25rem;
  // --t3-ce-header-nav-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --t3-ce-header-nav-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  // dropdown
  --t3-ce-header-nav-dropdown-color-hs: 210, 11%;
  --t3-ce-header-nav-dropdown-color-l: 15%;
  --t3-ce-header-nav-dropdown-bg-hs: 0, 0%;
  --t3-ce-header-nav-dropdown-bg-l: 100%;
  --t3-ce-header-nav-dropdown-color: hsl(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l));
  --t3-ce-header-nav-dropdown-bg: var(--t3-ce-header-nav-bg);
  --t3-ce-header-nav-dropdown-min-width: 12rem;
  --t3-ce-header-nav-dropdown-padding-top: 0.5rem;
  --t3-ce-header-nav-dropdown-margin-top: 0;
  --t3-ce-header-nav-dropdown-border-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.2);
  --t3-ce-header-nav-dropdown-border-width: 1px;
  --t3-ce-header-nav-dropdown-border-radius: 0;
  --t3-ce-header-nav-dropdown-item-padding-left: var(--t3-ce-header-nav-link-padding-left);
  --t3-ce-header-nav-dropdown-item-padding-top: 0.25rem;
  --t3-ce-header-nav-dropdown-item-hover-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
  --t3-ce-header-nav-dropdown-item-hover-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.1);
  --t3-ce-header-nav-dropdown-item-active-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.05);
  --t3-ce-header-nav-dropdown-item-active-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.main-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--t3-ce-header-nav-padding-top);
  padding-right: var(--t3-ce-header-nav-padding-right);
  padding-bottom: var(--t3-ce-header-nav-padding-bottom);
  padding-left: var(--t3-ce-header-nav-padding-left);
  background-color: var(--t3-ce-header-nav-bg);
}

.main-navigation__item-link {
  display: block;
  padding-top: var(--t3-ce-header-nav-link-padding-top);
  padding-bottom: var(--t3-ce-header-nav-link-padding-top);
  padding-right: var(--t3-ce-header-nav-link-padding-right);
  padding-left: var(--t3-ce-header-nav-link-padding-left);
  text-decoration: var(--t3-ce-header-nav-link-text-decoration);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: var(--t3-ce-header-nav-color);
  font-size: var(--t3-ce-header-nav-font-size);
}

@media (prefers-reduced-motion: reduce) {
  .main-navigation__item-link {
    transition: none;
  }
}

.main-navigation > .container,
.main-navigation > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.main-navigation__logo {
  padding-top: var(--t3-ce-header-nav-logo-padding-top);
  padding-bottom: var(--t3-ce-header-nav-logo-padding-bottom);
  margin-right: var(--t3-ce-header-nav-logo-margin-right);
  white-space: nowrap;
}

.main-navigation__logo .image-partial__item {
  max-width: inherit;
  height: inherit;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  align-items: center;
  width: 100%;
}

.main-navigation__item-link:hover,
.main-navigation__item-link:focus {
  color: var(--t3-ce-header-nav-hover-color);
  background-color: var(--t3-ce-header-nav-hover-bg);
}

.main-navigation__list .show > .main-navigation__item-link,
.main-navigation__list .active > .main-navigation__item-link,
.main-navigation__item-link.show,
.main-navigation__item-link.active {
  color: var(--t3-ce-header-nav-active-color);
  background-color: var(--t3-ce-header-nav-active-bg);
}

.main-navigation-toggler {
  padding: var(--t3-ce-header-nav-toggler-padding);
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: var(--t3-ce-header-nav-toggler-border) solid transparent;
  border-radius: var(--t3-ce-header-nav-toggler-border-radius);
  transition: box-shadow 0.15s ease-in-out;
  color: var(--t3-ce-header-nav-toggler-color);
  border-color: var(--t3-ce-header-nav-toggler-border-color);
}

@media (prefers-reduced-motion: reduce) {
  .main-navigation-toggler {
    transition: none;
  }
}

.main-navigation-toggler:hover {
  text-decoration: none;
}

.main-navigation-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem;
}

.main-navigation-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: var(--t3-ce-header-nav-toggler-icon-bg);
}

.main-navigation-toggler-left {
  flex-direction: row-reverse;
}

// dropdown
.dropdown {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty:after {
  margin-left: 0;
}

.main-navigation__dropdown-item-list {
  position: static;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: var(--t3-ce-header-nav-dropdown-min-width);
  padding: var(--t3-ce-header-nav-dropdown-padding-top) 0;
  margin: var(--t3-ce-header-nav-dropdown-margin-top) 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: var(--t3-ce-header-nav-dropdown-bg);
  background-clip: padding-box;
  border: var(--t3-ce-header-nav-dropdown-border-width) solid var(--t3-ce-header-nav-dropdown-border-color);
  border-radius: var(--t3-ce-header-nav-dropdown-border-radius);
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.main-navigation__dropdown-item-link {
  display: block;
  width: 100%;
  padding: var(--t3-ce-header-nav-dropdown-item-padding-top) var(--t3-ce-header-nav-dropdown-item-padding-left);
  clear: both;
  font-weight: 400;
  color: var(--t3-ce-header-nav-dropdown-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.show-parent-link .main-navigation__dropdown-item-link {
  padding-left: calc(var(--t3-ce-header-nav-dropdown-item-padding-left) + 0.8rem);
}

.show-parent-link .main-navigation__dropdown-item-parent-link {
  padding-left: var(--t3-ce-header-nav-dropdown-item-padding-left);
  margin-bottom: 0.6rem;
  text-decoration: underline;
  font-size: calc(var(--t3-ce-header-nav-font-size) + 0.05rem);
}

.main-navigation__dropdown-item-link:hover,
.main-navigation__dropdown-item-link:focus {
  color: var(--t3-ce-header-nav-dropdown-item-hover-color);
  background-color: var(--t3-ce-header-nav-dropdown-item-hover-bg);
}

.main-navigation__dropdown-item.active,
.main-navigation__dropdown-item-link:active {
  color: var(--t3-ce-header-nav-dropdown-item-active-color);
  background-color: var(--t3-ce-header-nav-dropdown-item-active-bg);
}

.main-navigation__dropdown-item-list.show {
  display: block;
}

// --------------------------------------------------------
// X-Small devices (portrait phones, less than 576px) xs
// @media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up) sm
// @media (min-width: 576px) { ... }

// --------------------------------------------------------
// Small devices (landscape phones, less than 768px) sm
// @media (max-width: 767.98px) { ... }
// Medium devices (tablets, 768px and up) md
// @media (min-width: 768px) { ... }

// --------------------------------------------------------
// Medium devices (tablets, less than 992px) md
// @media (max-width: 991.98px) { ... }
// Large devices (desktops, 992px and up) lg
@media (min-width: 992px) {
  .main-navigation-expand-lg.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-lg .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-lg .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-lg .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-lg .navbar-collapse {
    display: flex !important;
  }

  .main-navigation-expand-lg .main-navigation-toggler {
    display: none;
  }

  .main-navigation-toggler-left {
    flex-direction: row;
  }
}

// --------------------------------------------------------
// Large devices (desktops, less than 1200px) lg
// @media (max-width: 1199.98px) { ... }
// X-Large devices (large desktops, 1200px and up) xl
@media (min-width: 1200px) {
  .main-navigation-expand-xl.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-xl .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-xl .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-xl .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-xl .navbar-collapse {
    display: flex !important;
  }

  .main-navigation-expand-xl .main-navigation-toggler {
    display: none;
  }

  .main-navigation-toggler-left {
    flex-direction: row;
  }
}

// --------------------------------------------------------
// X-Large devices (large desktops, less than 1400px) xl
// @media (max-width: 1399.98px) { ... }
// XX-Large devices (larger desktops, 1400px and up) xxl
@media (min-width: 1400px) {
  .main-navigation-expand-xxl.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-xxl .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-xxl .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-xxl .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-xxl .navbar-collapse {
    display: flex !important;
  }

  .main-navigation-expand-xxl .main-navigation-toggler {
    display: none;
  }

  .main-navigation-toggler-left {
    flex-direction: row;
  }
}
