// =========================================================
// t3kit global styles =====================================
// =========================================================

// html {

// }

// body {

// }

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}
// img {

// }

// a {

// }

// =========================================================
// =========================================================
