// ==============================
// Override Bootstrap default variables
// ==============================
$primary: #59dbeb !default;
$secondary: #008292 !default;
$white: #fff !default;
$black: #000 !default;
// $dark
// $light

$body-bg: $white !default;
$body-color: #1d1d1d !default;

$link-color: $secondary !default;
$link-hover-color: darken($link-color, 15%) !default;

$font-family-sans-serif: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$h1-font-size: 3.2rem !default;
$h2-font-size: 2.5rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.75rem !default;
$h5-font-size: 1.5rem !default;
$h6-font-size: 1.25rem !default;

$headings-font-style: uppercase !default;
$headings-font-weight: 500 !default;
$headings-color: $body-color !default;

$input-btn-padding-y: 0.9rem !default;
$input-btn-padding-x: 2.8rem !default;
$btn-border-width: 4px !default;
$btn-font-weight: 600 !default;
$btn-border-radius: none !default;
$btn-border-radius-sm: none !default;
$btn-border-radius-lg: none !default;
// ==============================
// Import Bootstrap default variables
@import 'bootstrap/variables';
// ==============================

// ==============================
// Import t3kit default css variables
:root {
  --t3-primary: #{$primary};
  --t3-secondary: #{$secondary};
  --t3-white: #{$white};
  --t3-black: #{$black};
  --t3-body-color: #{$body-color};
  --t3-body-bg: #{$body-bg};
  --t3-link-color: #{$link-color};
}
// ==============================

// ==============================
// t3kit specific variables
// ==============================
