<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <f:if condition="{data.link_title} || {data.link}">
    <f:render partial="Link/Render/ButtonLink" arguments="{
      link_title: data.link_title,
      button_no_bg: data.button_no_bg,
      button_full_width: data.button_full_width,
      button_size: data.button_size,
      button_style: data.button_style,
      link_position: data.link_position,
      stretched_link : stretched_link,
      link: data.link}" />
  </f:if>

</html>
