{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
	<h1><f:translate key="tx_guide_label.headline"/></h1>
	<f:flashMessages />
	<p class="lead"><f:translate key="tx_guide_label.description" /></p>
	<hr />
	<h2><f:translate key="tx_guide_label.available_core_guided_tours" /></h2>
	<div class="container-fluid">
		<div class="row">
			<f:for each="{tours}" as="tour">
				<f:if condition="{tour.enabled}">
					<f:if condition="{tour.moduleName} == 'core'">
						<f:if condition="{tour.name} == 'Tree'">
							<f:then>
								<!-- Don't show the TreeTour -->
							</f:then>
							<f:else>
								<f:render partial="Guide/Item" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:if>
				</f:if>
			</f:for>
		</div>
	</div>
	<hr />
	<h2><f:translate key="tx_guide_label.available_module_guided_tours" /></h2>
	<div class="container-fluid">
		<div class="row">
			<f:for each="{tours}" as="tour">
				<f:if condition="{tour.enabled}">
					<f:if condition="{tour.moduleName} != 'core'">
						<f:render partial="Guide/Item" arguments="{_all}" />
					</f:if>
				</f:if>
			</f:for>
		</div>
	</div>
</f:section>