@use '../../variables' as v;

.img-slider {
    // max-width: 1920px;
    height: 300px;
}
// .img-slider__slide {
// }

.img-slider__slide-bg {
    height: 100%;
    background-position: inherit;
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-slider__caption {
    padding: 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img-slider__caption._left-align {
    text-align: left;
}

.img-slider__caption._center-align {
    text-align: center;
}

.img-slider__caption._right-align {
    text-align: right;
}

.img-slider__caption-sub-header {
    font-weight: 300;
    font-size: 20px;
    color: tint($main-color, 90%);
    -webkit-font-smoothing: antialiased;
}

.img-slider__caption-header {
    text-shadow: 0 1px 0 rgba(100, 100, 100, 0.3);
    font-size: 36px;
    color: tint($main-color, 90%);
    margin-top: 10px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
}

.img-slider__caption-p {
    -webkit-font-smoothing: antialiased;
    color: tint($main-color, 90%);
}

.img-slider__caption-link {
    padding: 10px 36px;
    background: saturate(adjust-hue($main-color, 177), 30%);
    color: tint($main-color, 90%);
    // font-size: 16px;
    border: 1px solid saturate(adjust-hue($main-color, 177), 30%);
    display: inline-block;
    margin-top: 10px;
}

.no-touch .img-slider__caption-link:hover {
    color: tint($main-color, 90%);
    background: saturate(adjust-hue($main-color, 179), 30%);
}

.no-touch .img-slider__caption-link:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    border-color: tint(adjust-hue($main-color, 177), 18%);
}

.img-slider__btn-next {
    display: none;
}

.img-slider__btn-prev {
    display: none;
}

.img-slider__pagination .swiper-pagination-bullet {
    background: $carousel-control-color;
}

._light-transparent-bg .img-slider__caption {
    background: rgba(255, 255, 255, 0.3);
}

._dark-transparent-bg .img-slider__caption {
    background: rgba(0, 0, 0, 0.3);
}

// @media (min-width: $screen-sm-min) {
@include media-breakpoint-up(md) {
    .img-slider__caption {
        padding: 30px 50px;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }

    .img-slider__btn-next,
    .img-slider__btn-prev {
        display: block;
        background-image: none;
        width: auto;
        margin-top: 0;
        transform: translateY(-50%);

        &:before {
            @include icons();

            color: $carousel-control-color;
            font-size: $carousel-control-font-size;
        }
    }

    .img-slider__btn-next {
        &:before {
            content: '\e675';
        }
    }

    .img-slider__btn-prev {
        &:before {
            content: '\e672';
        }
    }

    .img-slider {
        height: 480px;
    }

    .img-slider__caption-sub-header {
        font-size: 26px;
    }

    .img-slider__caption-header {
        font-size: 62px;
        margin-top: 20px;
    }

    html.IE {
        .img-slider__btn-next {
            right: 25px;
        }

        .img-slider__btn-prev {
            left: 25px;
        }
    }
}

// @media (min-width: $screen-md-min) {
@include media-breakpoint-up(lg) {
    .img-slider__caption {
        padding: 20px 60px;
        width: 100%;
    }

    .img-slider__caption-sub-header {
        font-size: 36px;
    }

    .img-slider__caption-header {
        font-size: 72px;
        margin-top: 20px;
    }

    .img-slider__caption-link {
        padding: 11px 54px;
        display: inline-block;
        margin-right: 7px;
        margin-left: 7px;
        text-transform: uppercase;
        min-width: 215px;
    }
}
