// ==============================
// t3kit variables
:root {
  --t3-font-sans-serif: 'Montserrat', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
  --t3-btn-border-radius: 0;
  --t3-btn-padding-top: 0.475rem;
  --t3-btn-padding-left: 2.5rem;
  --t3-btn-border: 3px;
}

.breadcrumb {
  --t3-breadcrumb-separator: url("data:image/svg+xml,%3Csvg class='t3-breadcrumb-separator-icon' width='1.3em' height='1.3em' viewBox='0 0 16 16' fill='rgb(0, 130, 146)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z'/%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.ce-simple-site-header {
  --t3-ce-header-nav-link-text-transform: uppercase;
}

.ce-site-footer {
  --t3-ce-footer-links-text-transform: uppercase;
}

.ce-hero-image {
  --t3-ce-hero-image-header-color: var(--t3-primary);
  --t3-ce-hero-image-header-size: 80;
  --t3-ce-hero-image-subheader-size: 80;
  --t3-ce-hero-image-bodytext-size: 28;
  --t3-ce-hero-image-bodytext-width: 75%;
}

.ce-big-icon-text-link__wrp {
  --t3-ce-bitl-header-size: 26;
  --t3-ce-bitl-header-font-weight: 300;
  --t3-ce-bitl-subheader-size: 26;
  --t3-ce-bitl-subheader-font-weight: 600;
}

.ce-img-text-link__wrp {
  --t3-ce-itl-header-font-weight: 300;
  --t3-ce-itl-subheader-font-weight: 600;
}

.ce-icon-text-link__wrp {
  --t3-ce-icotl-header-font-weight: 600;
  --t3-ce-icotl-header-size: 22;
  --t3-ce-icotl-subheader-font-weight: 300;
  --t3-ce-icotl-subheader-size: 22;
}
