// =========================================================
// !!! include media query inside the selector==============
// =========================================================
// Example:
// @use '../../bootstrap/mixins' as mixin;
// header {
//   width: 200px;

//   @include mixin.media-breakpoint-up(md) {
//     width: 100px;
//   }
// }
// =========================================================
// =========================================================

// use t3kit variables based on bootstrap variables
// check "theme/src/styles/_variables.scss"
@use '../../variables' as var;
// use bootstrap mixins based on t3kit variable overrides
// check "theme/src/styles/bootstrap/mixins/_index.scss"
@use '../../bootstrap/mixins' as mixin;
@use 'headerTop';
@use 'headerMiddle';
@use 'mainNavigation';

// =================================
// === Mobile nav menu toggle icon =
// =================================

.main-navigation__toggle-btn {
  float: left;
  -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
  position: fixed;
  width: 100%;
  top: (50px - 49) / 2;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 49px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 5000;
  background-color: var.$white;

  @include mixin.media-breakpoint-up(lg) {
    display: none;
  }
}

.header-top__main-navigation-toggle-btn .main-navigation__toggle-btn {
  position: relative;
  width: 70px;
  top: (50px - 49) / 2;
  left: auto;
  z-index: 500;
}

.main-navigation__toggle-btn span {
  display: block;
  position: absolute;
  top: 23px;
  left: 12px;
  right: 12px;
  height: 3px;
  width: 26px;
  margin-left: 10px;
  background: #777;
  transition: background 0 0.2s;
}

.main-navigation__toggle-btn span:after,
.main-navigation__toggle-btn span:before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #777;
  content: "";
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0;
}

.main-navigation__toggle-btn span:before {
  top: -9px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.main-navigation__toggle-btn span:after {
  bottom: -9px;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.mobile-menu-opened .main-navigation__toggle-btn {
  background-color: var.$white;
}

.mobile-menu-opened .main-navigation__toggle-btn span {
  background: none;
}

.mobile-menu-opened .main-navigation__toggle-btn span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-opened .main-navigation__toggle-btn span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu-opened .main-navigation__toggle-btn span:after,
.mobile-menu-opened .main-navigation__toggle-btn span:before {
  transition-delay: 0, 0.2s;
}

.main-navigation-mobile__language-menu .header-top__language-menu {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5001;
  display: block;

  @include mixin.media-breakpoint-up(lg) {
    display: none;
  }
}

.main-navigation .header-top__language-menu-box-close-btn {
  top: 5px;
}

.main-navigation .header-top__language-menu-btn {
  line-height: 50px;
}

.main-navigation .header-top__language-menu-box {
  height: 100%;
  background-color: var.$white;
}

.main-navigation-mobile__language-menu .header-top__language-menu .header-top__language-menu-box {
  width: auto;
  min-width: 150px;
  background: var.$black;
  top: 1px;
}

.main-navigation .header-top__language-menu-box .header-top__language-menu-box-item {
  color: var.$black;
  line-height: 50px;
}

.main-navigation .header-top__language-menu {
  display: none;

  @include mixin.media-breakpoint-up(lg) {
    display: block;
  }
}

.main-navigation__search-btn-wrp._header-top-search-btn {
  background: var.$black;
  display: block;
}

._header-top-search-btn .main-navigation__search-btn {
  // height: 50px;
  height: 50px;
}

._header-top-search-btn .main-navigation__search-btn:before {
  width: 14px;
  height: 14px;
  border: 2px solid var.$black; //$header-top-color;
  margin-top: -8px;
  margin-left: -8px;
}

._header-top-search-btn .main-navigation__search-btn:after {
  height: 2px;
  width: 6px;
  margin-top: 5px;
  margin-left: 3px;
  background: var.$black; //$header-top-color;
}

._header-top-search-btn .main-navigation__search-btn span:after,
._header-top-search-btn .main-navigation__search-btn span:before {
  height: 2px;
  width: 20px;
  // margin-top: -2px;
  background: var.$black; //$header-top-color;
}

._header-top-search-btn.main-navigation__search-box {
  right: 0;
  box-shadow: inset 0 1px 0 #e2e3df, 0 2px 3px -1px rgba(0, 0, 0, 0.3);
  border-top: 1px solid var.$black;
  top: 50px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.main-navigation__search-box._header-top-search-btn._search-box-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
