// =========================================================
// !!! include media query inside the selector==============
// =========================================================
// Example:
// @use '../../bootstrap/mixins' as mixin;
// header {
//   width: 200px;

//   @include mixin.media-breakpoint-up(md) {
//     width: 100px;
//   }
// }
// =========================================================
// =========================================================

// use t3kit variables based on bootstrap variables
// check "theme/src/styles/_variables.scss"
@use '../../variables' as var;
// use bootstrap mixins based on t3kit variable overrides
// check "theme/src/styles/bootstrap/mixins/_index.scss"
@use '../../bootstrap/mixins' as mixin;


// =================================
// === Footer  =====================
// =================================
.footer {
  background: var.$blacklight;
  padding: 140px 0 60px;
  font-family: var.$font-family-sans-serif;
  font-weight: var.$font-weight-medium;
  font-size: 14px;
  color: var.$white;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;

  & p {
    line-height: 30px;
    margin-bottom: 0;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var.$white;
    font-weight: var.$font-weight-bolder;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
  }

  & a {
    transition: color 0.2s ease;
    color: var.$white;

    &:hover,
    &:focus {
      color: var.$gray-500;
      text-decoration: none;
    }
  }

  @include mixin.media-breakpoint-down(md) {
    text-align: center;

    & p {
      line-height: 50px;
      margin-bottom: 0;
    }
  }

  &__header {
    font-size: 14px;
    text-transform: uppercase;
  }
  // -----------------------------------------------------------------------------
  // -----------------------------------------------------------------------------

  // =================================
  // === Footer Middle ===============
  // =================================
  &__middle {
    border-bottom: 1px solid rgba(var.$white, 0.1);
    margin-bottom: 40px;

    &-column {
      @include mixin.media-breakpoint-down(md) {
        margin-bottom: 67px;
      }

      @include mixin.media-breakpoint-between(sm, lg) {
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 120px;
        }
      }
    }

    @include mixin.media-breakpoint-up(lg) {
      margin-bottom: 50px;
      padding-bottom: 83px;
    }
  }

  // === Footer Logo===========
  // =================================

  &__logo {
    margin-bottom: 34px;

    &-image {
      max-width: 175px;
    }
  }

  // === Footer Links===========
  // =================================
  &__links {
    &-list {
      list-style: none;
      padding-left: 0;

      &-item {
        line-height: 50px;
      }
    }
  }
  // -----------------------------------------------------------------------------
  // -----------------------------------------------------------------------------
}


.no-touch .footer a:hover {
  color: var.$gray-500;
}

// =================================
// === Footer Bottom ===============
// =================================
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-icons {
    .social-icons__item {
      color: var.$white;
      margin-left: 50px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include mixin.media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include mixin.media-breakpoint-up(lg) {
    .social-icons {
      padding: 0;
      text-align: right;
      flex-direction: column;
    }
  }
}

.footer-bottom__links {
  a {
    position: relative;
    margin-left: 20px;

    &:after {
      content: "";
      background-color: #fff;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: -10px;
    }

  }

  @include mixin.media-breakpoint-up(sm) {
    & > * {
      display: inline-block;
    }
  }

  @include mixin.media-breakpoint-down(xs) {
    a {
      margin-left: 10px;
      margin-right: 10px;
      &:last-child:after {
        display: none;
      }

      &:after {
        left: auto;
        right: -10px;
      }
    }
  }

  @include mixin.media-breakpoint-down(lg){
    margin-bottom: 50px;
  }
}

.no-touch .footer-bottom .social-icons__item {
  &:hover {
    color: var.$gray-500;

    & > .icons:after {
      border-color: fade(var.$gray-500, 50%);
    }
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// =================================
// === *Footer Form ===============
// =================================
.footer {
  .form-control:focus,
  .form-control {
    height: 56px;
    outline: none;
    border: none;
    border-radius: 0;
    background-color: var.$grey;
    color: var.$white;
    box-shadow: none;
    padding: 17px 19px;
  }

  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(var.$white, 0.5);
  }

  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(var.$white, 0.5);
  }

  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(var.$white, 0.5);
  }

  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(var.$white, 0.5);
  }

  .btn-primary {
    border: 4px solid var.$white;
    font-size: 16px;
    height: 61px;
    margin-top: 34px;
    width: 100%;
    font-weight: var.$font-weight-bolder;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    background-color: var.$blacklight;
  }

  .btn-primary:hover {
    background-color: var.$gray-900;
  }
}
