/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.ce-img-text-link__wrp {
  --t3-ce-itl-color: var(--t3-body-color);
  --t3-ce-itl-header-color: var(--t3-ce-itl-color);
  --t3-ce-itl-subheader-color: var(--t3-ce-itl-color);
  --t3-ce-itl-bodytext-color: var(--t3-ce-itl-color);
  --t3-ce-itl-link-color: var(--t3-ce-itl-color);

  position: relative;
  color: var(--t3-ce-itl-color);
}

.ce-img-text-link__wrp.inverted-color {
  --t3-ce-itl-color: var(--t3-body-bg);
}

.inverted-color .ce-img-text-link__subheader .subheader-item {
  color: var(--t3-primary);
}

.internal-margins .ce-img-text-link__body {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.8rem;
}

.ce-img-text-link__picture,
.ce-img-text-link__svg-image {
  margin-bottom: 1rem;
}

.ce-img-text-link__svg-image {
  margin-top: 1rem;
}

.fixed-height,
.fixed-height .picture-partial,
.fixed-height .svg-partial {
  display: flex;
  flex: auto;
}

.fixed-height .picture-partial__simple,
.fixed-height .svg-partial__simple {
  flex: auto;
}

.fixed-height .picture-partial__item-img {
  height: 100%;
  object-fit: cover;
}

.fixed-height .svg-partial__item {
  height: 100%;
  object-fit: cover;
  width: auto;
}

.ce-img-text-link__header .header-item {
  color: var(--t3-ce-itl-header-color);
}

.ce-img-text-link__subheader .subheader-item {
  font-weight: 600;
  color: var(--t3-ce-itl-subheader-color);
}

.ce-img-text-link__bodytext .bodytext-partial {
  color: var(--t3-ce-itl-bodytext-color);
}

.ce-img-text-link__body {
  padding-bottom: 1.2rem;
}

.ce-img-text-link__link .link-partial {
  color: var(--t3-ce-itl-link-color);
}

.ce-img-text-link__link .button-partial__wrp {
  color: var(--t3-ce-itl-link-color);
}

.ce-img-text-link__link .stretched-link:after {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .ce-img-text-link__link .stretched-link:after {
    transition: none;
  }
}

.ce-img-text-link__link .stretched-link:hover:after {
  background-color: hsla(0, 0, 0%, 0.03);
}

/* -------------------------------------------------------- */
/* X-Small devices (portrait phones, less than 576px) xs */
/* @media (max-width: 575.98px) { ... } */
/* Small devices (landscape phones, 576px and up) sm */
/* @media (min-width: 576px) { ... } */

/* -------------------------------------------------------- */
/* Small devices (landscape phones, less than 768px) sm */
/* @media (max-width: 767.98px) { ... } */
/* Medium devices (tablets, 768px and up) md */
/* @media (min-width: 768px) { ... } */

/* -------------------------------------------------------- */
/* Medium devices (tablets, less than 992px) md */
/* @media (max-width: 991.98px) { ... } */
/* Large devices (desktops, 992px and up) lg */
/* @media (min-width: 992px) { ... } */

/* -------------------------------------------------------- */
/* Large devices (desktops, less than 1200px) lg */
/* @media (max-width: 1199.98px) { ... } */
/* X-Large devices (large desktops, 1200px and up) xl */
/* @media (min-width: 1200px) { ... } */

/* -------------------------------------------------------- */
/* X-Large devices (large desktops, less than 1400px) xl */
/* @media (max-width: 1399.98px) { ... } */
/* XX-Large devices (larger desktops, 1400px and up) xxl */
/* @media (min-width: 1400px) { ... } */
