.ce-site-header {
  --t3-ce-header-nav-bg: var(--t3-body-color);
  --t3-ce-header-nav-color-hs: 0, 0%;
  --t3-ce-header-nav-color-l: 100%;
  --t3-ce-header-nav-color: hsl(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l));
  --t3-ce-header-nav-padding-top: 0.5rem;
  --t3-ce-header-nav-padding-right: 0;
  --t3-ce-header-nav-padding-bottom: 0.5rem;
  --t3-ce-header-nav-padding-left: 0;
  --t3-ce-header-nav-logo-padding-top: 0.3125rem;
  --t3-ce-header-nav-logo-padding-bottom: 0.3125rem;
  --t3-ce-header-nav-logo-margin-right: 2rem;
  --t3-ce-header-nav-link-padding-top: 0.7rem;
  --t3-ce-header-nav-link-padding-left: 1rem;
  --t3-ce-header-nav-link-padding-right: 1rem;
  --t3-ce-header-nav-link-text-transform: uppercase;
  --t3-ce-header-nav-hover-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
  --t3-ce-header-nav-hover-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.08);
  --t3-ce-header-nav-active-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.7);
  --t3-ce-header-nav-active-bg: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.05);
  --t3-ce-header-nav-font-size: 1rem;
  --t3-ce-header-nav-toggler-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.55);
  --t3-ce-header-nav-toggler-border-color: hsla(var(--t3-ce-header-nav-color-hs), var(--t3-ce-header-nav-color-l), 0.2);
  --t3-ce-header-nav-toggler-padding: 0.25rem 0.75rem;
  --t3-ce-header-nav-toggler-border: 1px;
  --t3-ce-header-nav-toggler-border-radius: 0.25rem;
  /* --t3-ce-header-nav-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
  --t3-ce-header-nav-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  /* dropdown */
  --t3-ce-header-nav-dropdown-color-hs: var(--t3-ce-header-nav-color-hs);
  --t3-ce-header-nav-dropdown-color-l: var(--t3-ce-header-nav-color-l);
  --t3-ce-header-nav-dropdown-color: hsl(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l));
  --t3-ce-header-nav-dropdown-bg: var(--t3-ce-header-nav-bg);
  --t3-ce-header-nav-dropdown-min-width: 12rem;
  --t3-ce-header-nav-dropdown-padding-top: 0.5rem;
  --t3-ce-header-nav-dropdown-margin-top: 0;
  --t3-ce-header-nav-dropdown-border-color: hsla(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l), 0.2);
  --t3-ce-header-nav-dropdown-border-width: 1px;
  --t3-ce-header-nav-dropdown-border-radius: 0;
  --t3-ce-header-nav-dropdown-item-padding-left: var(--t3-ce-header-nav-link-padding-left);
  --t3-ce-header-nav-dropdown-item-padding-top: 0.25rem;
  --t3-ce-header-nav-dropdown-item-hover-color: hsla(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l), 0.7);
  --t3-ce-header-nav-dropdown-item-hover-bg: hsla(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l), 0.1);
  --t3-ce-header-nav-dropdown-item-active-bg: hsla(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l), 0.05);
  --t3-ce-header-nav-dropdown-item-active-color: hsla(var(--t3-ce-header-nav-dropdown-color-hs), var(--t3-ce-header-nav-dropdown-color-l), 0.7);

  /* search button */
  --t3-ce-header-search-bg: var(--t3-body-bg);
  --t3-btn-search-bg-hs: 0, 0%;
  --t3-btn-search-bg-l: 100%;
  --t3-btn-search-bg: hsl(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l));
  --t3-btn-search-color: var(--t3-ce-header-nav-bg);
  --t3-btn-search-border-color: hsl(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l));
  --t3-btn-search-hover-color: var(--t3-btn-search-color);
  --t3-btn-search-hover-bg: hsl(var(--t3-btn-search-bg-hs), calc(var(--t3-btn-search-bg-l) - 8%));
  --t3-btn-search-hover-border-color: hsl(var(--t3-btn-search-bg-hs), calc(var(--t3-btn-search-bg-l) - 10%));
  --t3-btn-search-active-color: var(--t3-btn-search-color);
  --t3-btn-search-active-bg: hsl(var(--t3-btn-search-bg-hs), calc(var(--t3-btn-search-bg-l) - 10%));
  --t3-btn-search-active-border-color: hsl(var(--t3-btn-search-bg-hs), calc(var(--t3-btn-search-bg-l) - 13%));

  /* search suggest */
  --t3-search-suggest-hs: 0, 0%;
  --t3-search-suggest-l: 98%;
  --t3-search-suggest-bg: hsl(var(--t3-search-suggest-hs), var(--t3-search-suggest-l));
  --t3-search-suggest-selected-bg: hsl(var(--t3-search-suggest-hs), 88%);
  --t3-search-suggest-border: var(--t3-gray-80);

  /* top menu */
  --t3-ce-header-top-color-hs: 0, 0%;
  --t3-ce-header-top-color-l: 0%;
  --t3-ce-header-top-color: hsl(var(--t3-ce-header-top-color-hs), var(--t3-ce-header-top-color-l));
  --t3-ce-header-top-bg: var(--t3-body-bg);
  --t3-ce-header-top-hover-color: hsla(var(--t3-ce-header-top-color-hs), var(--t3-ce-header-top-color-l), 0.7);
  --t3-ce-header-top-hover-bg: hsla(var(--t3-ce-header-top-color-hs), var(--t3-ce-header-top-color-l), 0.08);
  --t3-ce-header-top-active-color: hsla(var(--t3-ce-header-top-color-hs), var(--t3-ce-header-top-color-l), 0.7);
  --t3-ce-header-top-active-bg: hsla(var(--t3-ce-header-top-color-hs), var(--t3-ce-header-top-color-l), 0.05);

  /* lang menu */
  --t3-ce-lang-menu-color-hs: 0, 0%;
  --t3-ce-lang-menu-color-l: 0%;
  --t3-ce-lang-menu-color: hsl(var(--t3-ce-lang-menu-color-hs), var(--t3-ce-lang-menu-color-l));
  --t3-ce-lang-menu-bg: var(--t3-body-bg);
  --t3-ce-lang-menu-hover-color: hsla(var(--t3-ce-lang-menu-color-hs), var(--t3-ce-lang-menu-color-l), 0.7);
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.main-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--t3-ce-header-nav-padding-top);
  padding-right: var(--t3-ce-header-nav-padding-right);
  padding-bottom: var(--t3-ce-header-nav-padding-bottom);
  padding-left: var(--t3-ce-header-nav-padding-left);
  background-color: var(--t3-ce-header-nav-bg);
}

.main-navigation__item-link,
.ce-site-header__top-meta-menu-list-item-link {
  display: block;
  padding-top: var(--t3-ce-header-nav-link-padding-top);
  padding-bottom: var(--t3-ce-header-nav-link-padding-top);
  padding-right: var(--t3-ce-header-nav-link-padding-right);
  padding-left: var(--t3-ce-header-nav-link-padding-left);
  text-decoration: none;
  text-transform: var(--t3-ce-header-nav-link-text-transform);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: var(--t3-ce-header-nav-color);
  font-size: var(--t3-ce-header-nav-font-size);
}

@media (prefers-reduced-motion: reduce) {
  .main-navigation__item-link,
  .ce-site-header__top-meta-menu-list-item-link {
    transition: none;
  }
}

.main-navigation > .container,
.main-navigation > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.main-navigation__logo {
  padding-top: var(--t3-ce-header-nav-logo-padding-top);
  padding-bottom: var(--t3-ce-header-nav-logo-padding-bottom);
  margin-right: var(--t3-ce-header-nav-logo-margin-right);
  white-space: nowrap;
}

.main-navigation__logo .image-partial__item {
  max-width: inherit;
  height: inherit;
}

.main-navigation__list,
.ce-site-header__top-meta-menu-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  align-items: center;
  width: 100%;
}

.main-navigation__item-link:hover,
.main-navigation__item-link:focus {
  color: var(--t3-ce-header-nav-hover-color);
  background-color: var(--t3-ce-header-nav-hover-bg);
}

.main-navigation__list .show > .main-navigation__item-link,
.main-navigation__list .active > .main-navigation__item-link,
.main-navigation__item-link.show,
.main-navigation__item-link.active {
  color: var(--t3-ce-header-nav-active-color);
  background-color: var(--t3-ce-header-nav-active-bg);
}

.main-navigation-toggler {
  padding: var(--t3-ce-header-nav-toggler-padding);
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: var(--t3-ce-header-nav-toggler-border) solid transparent;
  border-radius: var(--t3-ce-header-nav-toggler-border-radius);
  transition: box-shadow 0.15s ease-in-out;
  color: var(--t3-ce-header-nav-toggler-color);
  border-color: var(--t3-ce-header-nav-toggler-border-color);
}

@media (prefers-reduced-motion: reduce) {
  .main-navigation-toggler {
    transition: none;
  }
}

.main-navigation-toggler:hover {
  text-decoration: none;
}

.main-navigation-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.2rem;
}

.main-navigation-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: var(--t3-ce-header-nav-toggler-icon-bg);
}

.main-navigation-toggler-left {
  flex-direction: row-reverse;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty:after {
  margin-left: 0;
}

.main-navigation__dropdown-item-list {
  position: static;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: var(--t3-ce-header-nav-dropdown-min-width);
  padding: var(--t3-ce-header-nav-dropdown-padding-top) 0;
  margin: var(--t3-ce-header-nav-dropdown-margin-top) 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: var(--t3-ce-header-nav-dropdown-bg);
  background-clip: padding-box;
  border: var(--t3-ce-header-nav-dropdown-border-width) solid var(--t3-ce-header-nav-dropdown-border-color);
  border-radius: var(--t3-ce-header-nav-dropdown-border-radius);
}

.main-navigation__list .main-navigation__item:last-child .main-navigation__dropdown-item-list {
  right: 0;
  left: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.main-navigation__dropdown-item-link {
  display: block;
  width: 100%;
  padding: var(--t3-ce-header-nav-dropdown-item-padding-top) var(--t3-ce-header-nav-dropdown-item-padding-left);
  clear: both;
  font-weight: 400;
  color: var(--t3-ce-header-nav-dropdown-color);
  text-align: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

.show-parent-link .main-navigation__dropdown-item-link {
  padding-left: calc(var(--t3-ce-header-nav-dropdown-item-padding-left) + 0.8rem);
}

.show-parent-link .main-navigation__dropdown-item-parent-link {
  padding-left: var(--t3-ce-header-nav-dropdown-item-padding-left);
  margin-bottom: 0.6rem;
  font-size: calc(var(--t3-ce-header-nav-font-size) + 0.05rem);
}

.main-navigation__dropdown-item-link:hover,
.main-navigation__dropdown-item-link:focus {
  color: var(--t3-ce-header-nav-dropdown-item-hover-color);
  background-color: var(--t3-ce-header-nav-dropdown-item-hover-bg);
}

.main-navigation__dropdown-item.active,
.main-navigation__dropdown-item-link.active,
.main-navigation__dropdown-item-link:active {
  color: var(--t3-ce-header-nav-dropdown-item-active-color);
  background-color: var(--t3-ce-header-nav-dropdown-item-active-bg);
}

.main-navigation__dropdown-item-list.show {
  display: block;
}

.header.site-header.sticky-header {
  position: sticky; /* stylelint-disable-line */
  top: 0;
  z-index: 999;
}

.big-menu-wrp {
  position: static;
}

.ce-site-header__top-langmenu .main-flag-language-icon {
  display: none;
}

.ce-site-header__langmenu-wrp.inside .main-flag-language-icon {
  display: none;
}

.ce-site-header__langmenu-wrp.outside .main-flag-language-icon {
  display: block;
}

.ce-site-header__langmenu-wrp.outside .main-flag-language {
  display: none;
}

.mobile-menu-toggler {
  float: right;
  transform: rotate(0deg);
  transition: 0.2s;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px;
  color: var(--t3-ce-header-nav-color);
}

.mobile-menu-toggler:hover {
  color: var(--t3-ce-header-nav-hover-color);
}

.mobile-menu-toggler:not(.collapsed) {
  transform: rotate(45deg);
  transition: 0.2s;
}

.big-menu-dropdown.show {
  width: 100%;
  margin: 0 auto;
  right: 0;
  padding: 18px 0;
  border-top: 1px solid var(--t3-gray-60);
  border-left: 1px solid var(--t3-ce-header-nav-dropdown-bg);
  border-right: 1px solid var(--t3-ce-header-nav-dropdown-bg);
}

.big-menu-dropdown .main-navigation__dropdown-item-parent-link {
  font-size: calc(var(--t3-ce-header-nav-font-size) + 0.1rem);
  color: var(--t3-ce-header-nav-dropdown-color);
}

.main-navigation__big-dropdown-item-list._sub-menu-level-2,
.main-navigation__big-dropdown-item-list._sub-menu-level-3 {
  padding-left: 0;
  list-style: none;
}

.main-navigation__dropdown-item-wrp {
  position: relative;
}

.main-navigation__dropdown-item-wrp.active .main-navigation__dropdown-item-parent-link {
  color: var(--t3-ce-header-nav-active-color);
  background-color: var(--t3-ce-header-nav-active-bg);
}

.ce-site-header__top-wrp {
  background: var(--t3-ce-header-top-bg);
}

.ce-site-header__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ce-site-header__top-meta-menu .ce-site-header__top-meta-menu-list {
  flex-direction: row;
}

.ce-site-header__top-meta-menu .ce-site-header__top-meta-menu-list-item-link {
  padding: 0.6rem 1rem;
  color: var(--t3-ce-header-top-color);
}

.ce-site-header__top .main-navigation__item-link:hover,
.ce-site-header__top .main-navigation__item-link:focus {
  color: var(--t3-ce-header-top-hover-color);
  background-color: var(--t3-ce-header-top-hover-bg);
}

.ce-site-header__top .main-navigation__list .show > .main-navigation__item-link,
.ce-site-header__top .main-navigation__list .active > .main-navigation__item-link,
.ce-site-header__top .main-navigation__item-link.show,
.ce-site-header__top .main-navigation__item-link.active {
  color: var(--t3-ce-header-top-active-color);
  background-color: var(--t3-ce-header-top-active-bg);
}

.main-navigation__items-wrp.show .main-navigation__list.sticky-menu {
  max-height: 70vh;
  overflow: auto;
  min-height: 100%;
}

.main-navigation__langmenu-search-wrp {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.ce-site-header__langmenu,
.ce-site-header__top-langmenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ce-site-header__language-menu-link {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.ce-site-header__top-langmenu .ce-site-header__language-menu-link {
  color: var(--t3-ce-header-top-color);
}

.ce-site-header__langmenu .ce-site-header__language-menu-link {
  color: var(--t3-ce-header-nav-color);
}

.ce-site-header__langmenu .ce-site-header__language-menu-box {
  text-align: right;
}

.ce-site-header__langmenu .ce-site-header__language-menu-box li {
  display: inline-block;
}

.ce-site-header__top-langmenu .ce-site-header__language-menu-box {
  position: absolute;
  z-index: 2;
  display: none;
  right: 0;
  left: auto;
  width: auto;
}

.ce-site-header__language-menu-box-content {
  background-color: var(--t3-ce-lang-menu-bg);
}

.ce-site-header__language-menu-box-content-list {
  margin-bottom: 0;
  padding: 1rem 2rem;
  list-style: none;
}

.ce-site-header__language-menu-box-item {
  color: var(--t3-ce-lang-menu-color);
}

.ce-site-header__language-menu-box-item:hover {
  color: var(--t3-ce-lang-menu-hover-color);
}

.ce-site-header__language-menu-box.show {
  display: block;
}

.ce-site-header__language-menu-box {
  position: absolute;
  z-index: 2;
  display: none;
  background-color: var(--t3-ce-lang-menu-bg);
  left: 0;
  right: 0;
  top: 100%;
  border-bottom: 1px solid var(--t3-gray-80);
}

.ce-site-header__search-icon {
  color: var(--t3-ce-header-nav-color);
}

.ce-site-header__top-search-wrp .ce-site-header__search-icon {
  color: var(--t3-ce-header-nav-bg);
}

.ce-site-header__top-search-wrp .ce-site-header__search-field-wrp {
  top: auto;
}

.ce-site-header__search-field-wrp {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--t3-ce-header-search-bg);
  border-bottom: 1px solid var(--t3-gray-80);
}

.search-form__group-input {
  flex-basis: 100%;
  z-index: 1;
  padding: 0 0 0 1rem;
  border: 0;
  border-radius: 0;
}

.ce-site-header__search-icon.collapsed .ce-site-header__search-icon-search {
  display: inline;
}

.ce-site-header__search-icon.collapsed .ce-site-header__search-icon-close {
  display: none;
}

.ce-site-header__search-icon .ce-site-header__search-icon-search {
  display: none;
}

.ce-site-header__search-icon .ce-site-header__search-icon-close {
  display: inline;
}

.main-navigation__dropdown-item-child-link {
  padding-left: calc(var(--t3-ce-header-nav-dropdown-item-padding-left) + 0.8rem);
}

.show-parent-link .main-navigation__dropdown-item-child-link {
  padding-left: calc(var(--t3-ce-header-nav-dropdown-item-padding-left) + 1.4rem);
}

.main-navigation__dropdown-item-parent-link-with-child {
  font-size: calc(var(--t3-ce-header-nav-font-size) + 0.1rem);
}

.search-form__group-btn-submit {
  color: var(--t3-btn-search-color);
  background-color: var(--t3-btn-search-bg);
  border-color: var(--t3-btn-search-border-color);
}

.search-form__group-btn-submit:hover {
  color: var(--t3-btn-search-hover-color);
  background-color: var(--t3-btn-search-hover-bg);
  border-color: var(--t3-btn-search-hover-border-color);
}

.search-form__group-btn-submit:focus,
.search-form__group-btn-submit.focus {
  color: var(--t3-btn-search-hover-color);
  background-color: var(--t3-btn-search-hover-bg);
  border-color: var(--t3-btn-search-hover-border-color);
  box-shadow: 0 0 0 0.2rem hsla(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l), 0.5);
}

.search-form__group-btn-submit:active,
.search-form__group-btn-submit.active {
  color: var(--t3-btn-search-active-color);
  background-color: var(--t3-btn-search-active-bg);
  border-color: var(--t3-btn-search-active-border-color);
}

.search-form__group-btn-submit:active:focus,
.search-form__group-btn-submit.active:focus {
  box-shadow: 0 0 0 0.2rem hsla(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l), 0.5);
}

.search-form__group-input-wrp .awesomplete,
.search-form__group-input-wrp .awesomplete input {
  flex-basis: 100%;
  display: flex;
  position: relative;
}

.search-form__group-input-wrp .awesomplete ul {
  position: absolute;
  top: 100%;
  background: var(--t3-search-suggest-bg);
  width: 100%;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid var(--t3-search-suggest-border);
}

.search-form__group-input-wrp .awesomplete ul li {
  padding: 0.3rem 0;
}

.search-form__group-input-wrp .awesomplete ul li[aria-selected=true] {
  background: var(--t3-search-suggest-selected-bg);
}

.header-top__search-btn {
  color: var(--t3-btn-search-color);
  background-color: var(--t3-btn-search-bg);
  border-color: var(--t3-btn-search-border-color);
}

.header-top__search-btn:hover {
  color: var(--t3-btn-search-hover-color);
  background-color: var(--t3-btn-search-hover-bg);
  border-color: var(--t3-btn-search-hover-border-color);
}

.header-top__search-btn:focus,
.header-top__search-btn.focus {
  color: var(--t3-btn-search-hover-color);
  background-color: var(--t3-btn-search-hover-bg);
  border-color: var(--t3-btn-search-hover-border-color);
  box-shadow: 0 0 0 0.2rem hsla(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l), 0.5);
}

.header-top__search-btn:active,
.header-top__search-btn.active {
  color: var(--t3-btn-search-active-color);
  background-color: var(--t3-btn-search-active-bg);
  border-color: var(--t3-btn-search-active-border-color);
}

.header-top__search-btn:active:focus,
.header-top__search-btn.active:focus {
  box-shadow: 0 0 0 0.2rem hsla(var(--t3-btn-search-bg-hs), var(--t3-btn-search-bg-l), 0.5);
}

.header-top__search-box .awesomplete,
.header-top__search-box .awesomplete input {
  flex-basis: 100%;
  display: flex;
  position: relative;
}

.header-top__search-box .awesomplete ul {
  position: absolute;
  top: 100%;
  background: var(--t3-ce-header-search-bg);
  width: 100%;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-top__search-box .awesomplete ul li {
  padding-top: 0.5rem;
}

.main-navigation__items-wrp.inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-navigation__items-wrp.inside.collapse:not(.show) {
  display: none;
}

.main-navigation__items-wrp.inside .main-navigation__list {
  order: 2;
  width: 100%;
}

.ce-site-header__langmenu-wrp {
  order: 3;
}

.ce-site-header__main-navigation-search:not(.outside) {
  width: 100%;
  padding: 1rem 0;
}

.ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-icon {
  display: none;
}

.ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse {
  display: block;
}

.ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp {
  position: relative;
}

.main-navigation-toggler-left .main-navigation__logo {
  order: 1;
}

.main-navigation-toggler-left .main-navigation-toggler {
  order: 4;
  margin-right: auto;
}

.main-navigation-toggler-left .main-navigation__items-wrp {
  order: 5;
}

.main-navigation-toggler-left .ce-site-header__langmenu-wrp.outside {
  order: 3;
}

.main-navigation-toggler-left .ce-site-header__main-navigation-search.outside {
  order: 2;
  margin-right: 10px;
}

.main-navigation-toggler-right .main-navigation__logo {
  order: 1;
  margin-right: auto;
}

.main-navigation-toggler-right .main-navigation-toggler {
  order: 4;
}

.main-navigation-toggler-right .main-navigation__items-wrp {
  order: 5;
}

.main-navigation-toggler-right .ce-site-header__langmenu-wrp.outside {
  order: 2;
}

.main-navigation-toggler-right .ce-site-header__main-navigation-search.outside {
  order: 3;
  margin-right: 10px;
}

.search-form__group-btn-submit,
.ce-site-header__top-search-wrp .header-top__search-btn {
  padding: 0.6rem 1rem;
}

.ce-site-header__langmenu-wrp.inside {
  width: 100%;
}

/* -------------------------------------------------------- */
/* X-Small devices (portrait phones, less than 576px) xs */
/* @media (max-width: 575.98px) { ... } */
/* Small devices (landscape phones, 576px and up) sm */
/* @media (min-width: 576px) { ... } */

/* -------------------------------------------------------- */
/* Small devices (landscape phones, less than 768px) sm */
/* @media (max-width: 767.98px) { ... } */
/* Medium devices (tablets, 768px and up) md */
/* @media (min-width: 768px) { ... } */

/* -------------------------------------------------------- */
/* Medium devices (tablets, less than 992px) md */
/* @media (max-width: 991.98px) { ... } */
/* Large devices (desktops, 992px and up) lg */
@media (min-width: 992px) {
  .main-navigation-expand-lg.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-lg .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-lg .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-lg .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-lg .navbar-collapse {
    display: flex !important;
    width: auto;
    margin-left: auto;
  }

  .main-navigation-expand-lg .main-navigation-toggler {
    display: none;
  }

  .main-navigation-expand-lg .main-navigation-toggler-left {
    flex-direction: row;
  }

  .main-navigation-expand-lg .big-menu-dropdown {
    position: absolute;
  }

  .main-navigation-expand-lg .mobile-menu-toggler {
    display: none;
    visibility: hidden;
  }

  .main-navigation-expand-lg .mobile-menu-links-collapse {
    display: block !important;
  }

  .main-navigation-expand-lg .ce-site-header__langmenu-wrp.outside .main-flag-language-icon {
    display: none;
  }

  .main-navigation-expand-lg .ce-site-header__langmenu-wrp.outside .main-flag-language {
    display: block;
  }

  .main-navigation-expand-lg .main-navigation__items-wrp.inside {
    flex-direction: row;
  }

  .main-navigation-expand-lg .main-navigation__items-wrp.inside .main-navigation__list,
  .main-navigation-expand-lg .main-navigation-toggler-left .main-navigation__items-wrp,
  .main-navigation-expand-lg .main-navigation-toggler-left .ce-site-header__langmenu-wrp.outside,
  .main-navigation-expand-lg .main-navigation-toggler-left .main-navigation__logo,
  .main-navigation-expand-lg .main-navigation-toggler-right .main-navigation-toggler,
  .main-navigation-expand-lg .main-navigation-toggler-right .main-navigation__items-wrp,
  .main-navigation-expand-lg .main-navigation-toggler-right .ce-site-header__langmenu-wrp.outside,
  .main-navigation-expand-lg .ce-site-header__langmenu-wrp {
    order: unset;
    width: auto;
  }

  .main-navigation-expand-lg .main-navigation-toggler-left .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-lg .main-navigation-toggler-right .main-navigation__logo,
  .main-navigation-expand-lg .main-navigation-toggler-right .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-lg .main-navigation-toggler-left .main-navigation-toggler {
    order: unset;
    margin-right: 0;
  }

  .main-navigation-expand-lg .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-icon {
    display: block;
  }

  .main-navigation-expand-lg .ce-site-header__main-navigation-search:not(.outside) {
    width: auto;
    padding: initial;
  }

  .main-navigation-expand-lg .ce-site-header__langmenu-wrp.inside {
    width: auto;
  }

  .main-navigation-expand-lg .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse {
    display: none;
  }

  .main-navigation-expand-lg .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse.show {
    display: block;
  }

  .main-navigation-expand-lg .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp {
    position: absolute;
  }
}

/* -------------------------------------------------------- */
/* Large devices (desktops, less than 1200px) lg */
/* @media (max-width: 1199.98px) { ... } */
/* X-Large devices (large desktops, 1200px and up) xl */
@media (min-width: 1200px) {
  .main-navigation-expand-xl.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-xl .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-xl .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-xl .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-xl .navbar-collapse {
    display: flex !important;
    width: auto;
    margin-left: auto;
  }

  .main-navigation-expand-xl .main-navigation-toggler {
    display: none;
  }

  .main-navigation-expand-xl .main-navigation-toggler-left {
    flex-direction: row;
  }

  .main-navigation-expand-xl .big-menu-dropdown {
    position: absolute;
  }

  .main-navigation-expand-xl .mobile-menu-toggler {
    display: none;
    visibility: hidden;
  }

  .main-navigation-expand-xl .mobile-menu-links-collapse {
    display: block !important;
  }

  .main-navigation-expand-xl .ce-site-header__langmenu-wrp.outside .main-flag-language-icon {
    display: none;
  }

  .main-navigation-expand-xl .ce-site-header__langmenu-wrp.outside .main-flag-language {
    display: block;
  }

  .main-navigation-expand-xl .main-navigation__items-wrp.inside {
    flex-direction: row;
  }

  .main-navigation-expand-xl .main-navigation__items-wrp.inside .main-navigation__list,
  .main-navigation-expand-xl .main-navigation-toggler-left .main-navigation__items-wrp,
  .main-navigation-expand-xl .ce-site-header__langmenu-wrp,
  .main-navigation-expand-xl .main-navigation-toggler-left .ce-site-header__langmenu-wrp.outside,
  .main-navigation-expand-xl .main-navigation-toggler-left .main-navigation__logo,
  .main-navigation-expand-xl .main-navigation-toggler-right .main-navigation-toggler,
  .main-navigation-expand-xl .main-navigation-toggler-right .main-navigation__items-wrp,
  .main-navigation-expand-xl .main-navigation-toggler-right .ce-site-header__langmenu-wrp.outside {
    order: unset;
    width: auto;
  }

  .main-navigation-expand-xl .main-navigation-toggler-left .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-xl .main-navigation-toggler-right .main-navigation__logo,
  .main-navigation-expand-xl .main-navigation-toggler-right .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-xl .main-navigation-toggler-left .main-navigation-toggler {
    order: unset;
    margin-right: 0;
  }

  .main-navigation-expand-xl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-icon {
    display: block;
  }

  .main-navigation-expand-xl .ce-site-header__main-navigation-search:not(.outside) {
    width: auto;
    padding: initial;
  }

  .main-navigation-expand-xl .ce-site-header__langmenu-wrp.inside {
    width: auto;
  }

  .main-navigation-expand-xl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse {
    display: none;
  }

  .main-navigation-expand-xl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse.show {
    display: block;
  }

  .main-navigation-expand-xl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp {
    position: absolute;
  }
}

/* -------------------------------------------------------- */
/* X-Large devices (large desktops, less than 1400px) xl */
/* @media (max-width: 1399.98px) { ... } */
/* XX-Large devices (larger desktops, 1400px and up) xxl */
@media (min-width: 1400px) {
  .main-navigation-expand-xxl.main-navigation {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .main-navigation-expand-xxl .main-navigation__list {
    flex-direction: row;
  }

  .main-navigation-expand-xxl .main-navigation__list .main-navigation__dropdown-item-list {
    position: absolute;
  }

  .main-navigation-expand-xxl .main-navigation__item-link {
    padding-right: var(--t3-ce-header-nav-link-padding-right);
    padding-left: var(--t3-ce-header-nav-link-padding-left);
  }

  .main-navigation-expand-xxl .navbar-collapse {
    display: flex !important;
    width: auto;
    margin-left: auto;
  }

  .main-navigation-expand-xxl .main-navigation-toggler {
    display: none;
  }

  .main-navigation-expand-xxl .main-navigation-toggler-left {
    flex-direction: row;
  }

  .main-navigation-expand-xxl .big-menu-dropdown {
    position: absolute;
  }

  .main-navigation-expand-xxl .mobile-menu-toggler {
    display: none;
    visibility: hidden;
  }

  .main-navigation-expand-xxl .mobile-menu-links-collapse {
    display: block !important;
  }

  .main-navigation-expand-xxl .ce-site-header__langmenu-wrp.outside .main-flag-language-icon {
    display: none;
  }

  .main-navigation-expand-xxl .ce-site-header__langmenu-wrp.outside .main-flag-language {
    display: block;
  }

  .main-navigation-expand-xl .main-navigation__items-wrp.inside {
    flex-direction: row;
  }

  .main-navigation-expand-xxl .main-navigation__items-wrp.inside .main-navigation__list,
  .main-navigation-expand-xxl .main-navigation-toggler-left .main-navigation__items-wrp,
  .main-navigation-expand-xxl .ce-site-header__langmenu-wrp,
  .main-navigation-expand-xxl .main-navigation-toggler-left .ce-site-header__langmenu-wrp.outside,
  .main-navigation-expand-xxl .main-navigation-toggler-left .main-navigation__logo,
  .main-navigation-expand-xxl .main-navigation-toggler-right .main-navigation-toggler,
  .main-navigation-expand-xxl .main-navigation-toggler-right .main-navigation__items-wrp,
  .main-navigation-expand-xxl .main-navigation-toggler-right .ce-site-header__langmenu-wrp.outside {
    order: unset;
    width: auto;
  }

  .main-navigation-expand-xxl .main-navigation-toggler-left .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-xxl .main-navigation-toggler-right .main-navigation__logo,
  .main-navigation-expand-xxl .main-navigation-toggler-right .ce-site-header__main-navigation-search.outside,
  .main-navigation-expand-xxl .main-navigation-toggler-left .main-navigation-toggler {
    order: unset;
    margin-right: 0;
  }

  .main-navigation-expand-xxl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-icon {
    display: block;
  }

  .main-navigation-expand-xxl .ce-site-header__main-navigation-search:not(.outside) {
    width: auto;
    padding: initial;
  }

  .main-navigation-expand-xxl .ce-site-header__langmenu-wrp.inside {
    width: auto;
  }

  .main-navigation-expand-xxl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse {
    display: none;
  }

  .main-navigation-expand-xxl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp.collapse.show {
    display: block;
  }

  .main-navigation-expand-xxl .ce-site-header__main-navigation-search:not(.outside) .ce-site-header__search-field-wrp {
    position: absolute;
  }
}
