/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* -------------------------------------------------------- */
/* X-Small devices (portrait phones, less than 576px) xs */
/* @media (max-width: 575.98px) { ... } */
/* Small devices (landscape phones, 576px and up) sm */
/* @media (min-width: 576px) { ... } */

/* -------------------------------------------------------- */
/* Small devices (landscape phones, less than 768px) sm */
/* @media (max-width: 767.98px) { ... } */
/* Medium devices (tablets, 768px and up) md */
/* @media (min-width: 768px) { ... } */

/* -------------------------------------------------------- */
/* Medium devices (tablets, less than 992px) md */
/* @media (max-width: 991.98px) { ... } */
/* Large devices (desktops, 992px and up) lg */
/* @media (min-width: 992px) { ... } */

/* -------------------------------------------------------- */
/* Large devices (desktops, less than 1200px) lg */
/* @media (max-width: 1199.98px) { ... } */
/* X-Large devices (large desktops, 1200px and up) xl */
/* @media (min-width: 1200px) { ... } */

/* -------------------------------------------------------- */
/* X-Large devices (large desktops, less than 1400px) xl */
/* @media (max-width: 1399.98px) { ... } */
/* XX-Large devices (larger desktops, 1400px and up) xxl */
/* @media (min-width: 1400px) { ... } */
