<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:render partial="Css/Main" arguments="{_all}" />
<f:render partial="Css/Lightbox--async" arguments="{_all}" />
<f:render partial="Js/Initial--async-p1" arguments="{_all}" />
<f:render partial="Js/Bootstrap--async-p1" arguments="{_all}" />
<f:render partial="Js/Swiperjs--async-p1" arguments="{_all}" />
<f:render partial="Js/Lightbox--async" arguments="{_all}" />

<!--TYPO3SEARCH_begin-->

<div id="top"></div>

<f:render section="Main" />

<!--TYPO3SEARCH_end-->

</html>
