@use '../../variables' as v;

.quote {
    padding: 0;
    margin: 50px 0;
    font-size: 17px;
    border-left: none;
    position: relative;
}

.quote__footer {
    padding-left: 70px;
    color: $main-color;
}

.quote__footer-title {
    color: $quote-footer-title-color;
}

.quote__body-p {
    padding: 26px 10px 26px 70px;
    background: darken($main-body-bg, 5%);
    position: relative;
    font-size: 15px;
}

.quote__body-p:before {
    border-top: 10px solid darken($main-body-bg, 5%);
    border-left: 18px solid transparent;
    border-right: 18px solid darken($main-body-bg, 5%);
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -21px;
    left: 18px;
    content: "";
}

.quote__body-icon {
    position: absolute;
    left: 18px;
    top: 16px;
    color: $main-color;
}

.quote__body-icon:before {
    font-size: 42px;
}

// @media (min-width: $screen-sm-min) {
@include media-breakpoint-up(md) {
    .quote__body-p {
        font-size: 17px;
    }
}
