@use '../../variables' as v;

.quote {
  padding: 0;
  margin: 50px 0;
  font-size: 17px;
  border-left: 0;
  position: relative;
}

.quote__footer {
  padding-left: 70px;
  color: $link-color;
}

.quote__footer-title {
  color: $gray-700;
}

.quote__body-p {
  padding: 26px 10px 26px 70px;
  background: darken($body-bg, 5%);
  position: relative;
  font-size: 15px;
}

.quote__body-p:before {
  border-top: 10px solid darken($body-bg, 5%);
  border-left: 18px solid transparent;
  border-right: 18px solid darken($body-bg, 5%);
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -21px;
  left: 18px;
  content: ' ';
}

.quote__body-icon {
  position: absolute;
  left: 18px;
  top: 16px;
  color: $link-color;
}

.quote__body-icon:before {
  font-size: 42px;
}

// @media (min-width: $screen-sm-min) {
@include media-breakpoint-up(md) {
  .quote__body-p {
    font-size: 17px;
  }
}
