// ==============================
// t3kit variables
// ==============================
:root {
  // _________________
  // Main color variables
  // -----------------

  // primary color
  --t3-primary: #59dbeb;
  --t3-primary-hs: 187, 78%;
  --t3-primary-l: 64%;
  --t3-primary-overlay: hsla(var(--t3-primary-hs), var(--t3-primary-l), 0.4);

  // secondary color
  --t3-secondary: #008292;
  --t3-secondary-hs: 187, 100%;
  --t3-secondary-l: 29%;
  --t3-secondary-overlay: hsla(var(--t3-secondary-hs), var(--t3-secondary-l), 0.4);

  // light color
  --t3-light: #f8f9fa;
  --t3-light-hs: 210, 17%;
  --t3-light-l: 98%;
  --t3-light-overlay: hsla(var(--t3-light-hs), var(--t3-light-l), 0.4);

  // dark color
  --t3-dark: #343a40;
  --t3-dark-hs: 210, 10%;
  --t3-dark-l: 23%;
  --t3-dark-overlay: hsla(var(--t3-dark-hs), var(--t3-dark-l), 0.4);

  // white/black color
  --t3-white: #fff;
  --t3-black: #000;

  // main body variables
  --t3-body-color: #1d1d1d;
  --t3-body-bg: var(--t3-white);
  --t3-body-font-size: 1rem;
  --t3-border-color: #dee2e6;

  // input-focus
  // --t3-input-focus: 0 0 0 0.2rem hsla(358, 74%, 48%, 0.247);

  // _________________
  // Typography
  // -----------------
  // font
  --t3-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --t3-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --t3-font-family-base: var(--t3-font-sans-serif);

  // headings
  --t3-headings-text-transform: none;
  --t3-headings-color: var(--t3-body-color);
  // should be the only number with pixels in mind. Will be converted to rem
  --t3-h1-font-size: 40;
  --t3-h2-font-size: 32;
  --t3-h3-font-size: 28;
  --t3-h4-font-size: 24;
  --t3-h5-font-size: 20;
  --t3-h6-font-size: 16;

  // link
  --t3-link-color: var(--t3-secondary);
  --t3-link-hover-color: hsla(var(--t3-secondary-hs), var(--t3-secondary-l), 0.8);

  // caption
  --t3-caption-color: #6c757d;

  // _________________
  // Helpers
  // -----------------
  // Border-radius
  --t3-border-radius: 0.25rem;

  // content-margins
  --t3-ce-margin-5: 0.3125rem;
  --t3-ce-margin-10: 0.625rem;
  --t3-ce-margin-16: 1rem;
  --t3-ce-margin-20: 1.25rem;
  --t3-ce-margin-25: 1.55rem;
  --t3-ce-margin-30: 1.875rem;
  --t3-ce-margin-40: 2.5rem;
  --t3-ce-margin-50: 3.125rem;
  --t3-ce-margin-60: 3.75rem;
  --t3-ce-margin-70: 4.375rem;

  // _________________
  // Navigation
  // -----------------
  // main navigation
  // --t3-main-navigation-color-hs
  // --t3-main-navigation-color-l
  // --t3-main-navigation-bg-hs
  // --t3-main-navigation-bg-l
  // --t3-nav-link-padding-top: 0.5rem;
  // --t3-nav-link-padding-left: 1rem;

  // side-navigation

  // breadcrumb
  --t3-breadcrumb-color: var(--t3-link-color);
  --t3-breadcrumb-bg: var(--t3-body-bg);
  --t3-breadcrumb-active-color: var(--t3-body-color);

  // skip-links
  --t3-skip-link-bg: var(--t3-body-bg);

  // scroll-to-top
  --t3-scroll-to-top-color: var(--t3-body-bg);
  --t3-scroll-to-top-bg: var(--t3-link-color);
  --t3-scroll-to-top-hover-color: #9998;

  // target-blank-link
  --t3-target-blank-msg-color: var(--t3-body-color);
  --t3-target-blank-msg-bg: var(--t3-body-bg);
}
