<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
  <!-- theme_t3kit: Templates/ContentElements/Button.html [begin] -->
  <f:comment>
    <!-- set button classes -->
  </f:comment>
  <f:variable name="btnClass">btn</f:variable>
  <f:if condition="{flexform.buttonStyle}">
    <f:variable name="btnClass">{btnClass} {flexform.buttonStyle}</f:variable>
  </f:if>
  <f:if condition="{flexform.buttonSize}">
    <f:variable name="btnClass">{btnClass} {flexform.buttonSize}</f:variable>
  </f:if>
  <f:if condition="{flexform.blockLevel}">
    <f:variable name="btnClass">{btnClass} btn-block</f:variable>
  </f:if>

  <f:if condition="{data.link_title}">
    <f:link.typolink parameter="{data.link}" class="{btnClass}">{data.link_title}</f:link.typolink>
  </f:if>
  <!-- theme_t3kit: Templates/ContentElements/Button.html [end] -->
</f:section>

</html>
