<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Button.html [begin] -->

  <f:if condition="{data.link_title}">
    <div class="ce-button">
      <f:if condition="{data.link_as_button}">
        <f:then>
          <f:render partial="Link/ButtonLink" arguments="{_all}" />
        </f:then>
        <f:else>
          <f:render partial="Link/Link" arguments="{_all}" />
        </f:else>
      </f:if>
    </div>
  </f:if>

<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Button.html [end] -->
</f:section>

</html>
