<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header" />

<f:section name="Main">
  <!-- t3kit: Resources/Private/Templates/ContentElements/Static/Button.html [begin] -->

  <f:variable name="btn_class">btn</f:variable>
  <f:if condition="{flexform.button_no_bg}">
    <f:then>
      <f:if condition="{flexform.button_style} == 'link'">
        <f:then>
          <f:variable name="btn_class">{btn_class} btn-{flexform.button_style}</f:variable>
        </f:then>
        <f:else>
          <f:variable name="btn_class">{btn_class} btn-outline-{flexform.button_style}</f:variable>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <f:if condition="{flexform.button_style}">
        <f:variable name="btn_class">{btn_class} btn-{flexform.button_style}</f:variable>
      </f:if>
    </f:else>
  </f:if>

  <f:if condition="{flexform.button_size}">
    <f:variable name="btn_class">{btn_class} {flexform.button_size}</f:variable>
  </f:if>

  <f:if condition="{flexform.button_block}">
    <f:variable name="btn_class">{btn_class} btn-block</f:variable>
  </f:if>

  <f:if condition="{data.link_title}">
    <f:link.typolink parameter="{data.link}" class="{btn_class}">{data.link_title}</f:link.typolink>
  </f:if>

  <!-- t3kit: Resources/Private/Templates/ContentElements/Static/Button.html [end] -->
</f:section>

</html>
