<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
<!-- theme_t3kit: Templates/ContentElements/FullWidthImage.html [begin] -->
	<f:if condition="{images}">
		<f:for each="{images}" as="image" iteration="imageIteration">
			<f:if condition="{imageIteration.isFirst}">
				<div class="full-width-image">
					<div class="full-width-image__wrp">
						<picture>
							<source srcset="{f:uri.image(image: image, maxWidth: settings.defaultWidth, cropVariant: 'default')}" media="(min-width: 1200px)">
							<f:if condition="{settings.includeDoubleDensityImages}">
								<f:then>
									<source srcset="{f:uri.image(image: image, maxWidth: '1200', cropVariant: 'default')}, {f:uri.image(image: image, maxWidth: '2400', cropVariant: 'default')} 2x" media="(min-width: 992px)">
									<source srcset="{f:uri.image(image: image, maxWidth: '992', cropVariant: 'medium')}, {f:uri.image(image: image, maxWidth: '1984', cropVariant: 'medium')} 2x" media="(min-width: 768px)">
									<source srcset="{f:uri.image(image: image, maxWidth: '768', cropVariant: 'small')}, {f:uri.image(image: image, maxWidth: '1536', cropVariant: 'small')} 2x" media="(max-width: 767px)">
								</f:then>
								<f:else>
									<source srcset="{f:uri.image(image: image, maxWidth: '1200', cropVariant: 'default')}" media="(min-width: 992px)">
									<source srcset="{f:uri.image(image: image, maxWidth: '992', cropVariant: 'medium')}" media="(min-width: 768px)">
									<source srcset="{f:uri.image(image: image, maxWidth: '768', cropVariant: 'small')}" media="(max-width: 767px)">
								</f:else>
							</f:if>
							<!--- Fallback -->
							<f:image class="img-responsive full-width-image__img" image="{image}" maxWidth="{settings.defaultWidth}" longdesc="{image.description}" cropVariant="default" />
						</picture>
					</div>
				</div>
			</f:if>
		</f:for>
	</f:if>
<!-- theme_t3kit: Templates/ContentElements/FullWidthImage.html [end] -->
</f:section>

</html>
