<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Static/HeroImage.html [begin] -->

  <f:if condition="{files}">

    <f:if condition="{flexform.height} == 0">
      <f:then>
        <f:variable name="options" value="{'height': 400}" />
      </f:then>
      <f:else>
        <f:variable name="options" value="{'height': '{flexform.height}'}" />
      </f:else>
    </f:if>


    <div class="ce-hero-image__wrp">
      <div class="ce-hero-image js__ce-hero-image">

        <div class="ce-hero-image__picture">
          <f:render partial="Media/Figure" arguments="{_all}" />
        </div>

        <div class="ce-hero-image__caption-wrp {f:if(condition:'{flexform.transparentLayer} != 0', then: ' ce-hero-image__caption-wrp--overlay-{flexform.overlay}')}">
          <div class="ce-hero-image__caption container">

            <div class="ce-hero-image__caption-header">
              <f:render partial="Header/HeaderText" arguments="{_all}" />
            </div>

            <div class="ce-hero-image__caption-subheader">
              <f:render partial="Header/SubHeaderText" arguments="{_all}" />
            </div>

            <f:if condition="{data.bodytext}">
              <p class="ce-hero-image__caption-bodytext line-clamp text-{data.content_position}">
                <f:format.nl2br>{data.bodytext}</f:format.nl2br>
              </p>
            </f:if>

            <f:if condition="{data.link_title}">
              <div class="ce-hero-image__caption-link">
                <f:if condition="{data.link_as_button}">
                  <f:then>
                    <f:render partial="Links/ButtonLink" arguments="{_all}" />
                  </f:then>
                  <f:else>
                    <f:render partial="Links/Link" arguments="{_all}" />
                  </f:else>
                </f:if>
              </div>
            </f:if>

          </div>
        </div>


      </div>
    </div>
  </f:if>

  <!-- t3kit: Resources/Private/Templates/ContentElements/Static/HeroImage.html [end] -->
</f:section>

</html>
