<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Static/HeroImage.html [begin] -->


  <f:if condition="{flexform.height} == 0">
    <f:then>
      <f:variable name="height">400</f:variable>
    </f:then>
    <f:else>
      <f:variable name="height">{flexform.height}</f:variable>
    </f:else>
  </f:if>

  <f:if condition="{data.section_container_width} == 'container'">
    <f:variable name="container">container</f:variable>
  </f:if>

  <f:if condition="{files} == false">
    <f:variable name="background">ce-hero-image--bg ce-hero-image--bg-{flexform.background}</f:variable>
  </f:if>

  <div class="ce-hero-image__wrp {container}">
    <div class="ce-hero-image
      {background}
      {f:if(condition: flexform.overlay, then: ' ce-hero-image--overlay-{flexform.overlay}')}">

      <div class="ce-hero-image__caption-wrp
        ce-hero-image__caption--{flexform.caption_alignment}
        container"
        {f:if(condition:height, then: 'style="height: {height}px;"')}>
        <div class="ce-hero-image__caption">

          <f:if condition="{data.header_text} || {t3kit:isPlaceholderEnabled()}">
            <div class="ce-hero-image__caption-header">
              <f:render partial="Header/HeaderText" arguments="{_all}" />
            </div>
          </f:if>

          <f:if condition="{data.subheader_text} || {t3kit:isPlaceholderEnabled()}">
            <div class="ce-hero-image__caption-subheader">
              <f:render partial="Header/SubHeaderText" arguments="{_all}" />
            </div>
          </f:if>

          <f:if condition="{data.bodytext} || {t3kit:isPlaceholderEnabled()}">
            <div class="ce-hero-image__caption-bodytext fluid-font-size">
              <f:render partial="Bodytext/Bodytext" arguments="{_all}" />
            </div>
          </f:if>

          <f:if condition="{data.link} || {t3kit:isPlaceholderEnabled()}">
            <div class="ce-hero-image__caption-link">
              <f:if condition="{data.link_as_button}">
                <f:then>
                  <f:render partial="Link/ButtonLink" arguments="{_all}" />
                </f:then>
                <f:else>
                  <f:render partial="Link/Link" arguments="{_all}" />
                </f:else>
              </f:if>
            </div>
          </f:if>

        </div>
      </div>


      <f:if condition="{files}">
        <div class="ce-hero-image__picture">
          <f:render partial="Media/Type" arguments="{_all}" />
        </div>
      </f:if>

    </div>
  </div>

  <!-- t3kit: Resources/Private/Templates/ContentElements/Static/HeroImage.html [end] -->
</f:section>

</html>
