<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
  <div class="icon-text-btn__wrp">
    <div class="icon-text-btn">
      <div class="icon-text-btn__icon-and-header">
        <f:if condition="{data.icon}">
          <span class="icon-text-btn__icon">
            <t3kit:render.svg src="{data.icon}" class="{data.icon_class}" width="24px" height="24px" aria-hidden="true" />
          </span>
        </f:if>
        <f:if condition="{data.header}">
          <h3 class="icon-text-btn__header">
            {data.header}
          </h3>
        </f:if>
      </div>

      <f:if condition="{data.bodytext}">
        <p class="icon-text-btn__p"><f:format.nl2br>{data.bodytext}</f:format.nl2br></p>
      </f:if>

      <f:if condition="{data.link} && {flexform.disableWholeAreaLink} == 1">
        <f:link.typolink
          parameter="{data.link}"
          class="icon-text-btn__link {f:if(condition: flexform.btnAsLink, then: 'btn-text', else: ' btn btn-primary')}">
            {f:if(condition: data.link_title, then: data.link_title, else: data.header)}
        </f:link.typolink>
      </f:if>
      <f:if condition="{flexform.disableWholeAreaLink} == 0">
        <f:link.typolink parameter="{data.link}" class="icon-text-btn__link _whole-area-link stretched-link {f:if(condition: flexform.btnAsLink, then: 'btn-text', else: ' btn btn-primary')}">
          {f:if(condition: data.link_title, then: data.link_title, else: data.header)}
        </f:link.typolink>
      </f:if>
    </div>
  </div>
</f:section>

</html>
