<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Quote.html [begin] -->

  <div class="ce-quote__wrp">
    <blockquote class="ce-quote">

      <f:if condition="{data.bodytext} || {core:isPlaceholderEnabled()}">
        <div class="ce-quote__bodytext">
          <f:render partial="Bodytext/Bodytext" arguments="{_all}" />
        </div>
      </f:if>

      <footer class="ce-quote__footer">

        <f:if condition="{flexform.author_name}">
          <span class="ce-quote__footer-author-name">
            {flexform.author_name}
          </span>
        </f:if>

        <f:if condition="{flexform.job_title}">
          <span class="ce-quote__footer-job-title">
            {flexform.job_title}
          </span>
        </f:if>

        <f:if condition="{data.link} || {core:isPlaceholderEnabled()}">
          <div class="ce-quote__footer-link">
            <f:render partial="Link/Link" arguments="{_all}" />
          </div>
        </f:if>

      </footer>

    </blockquote>
  </div>

<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Quote.html [end] -->
</f:section>

</html>
