<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

  <f:if condition="{table}">

    <f:comment><!-- use tableClass, an array of classes to build into one string--></f:comment>
    <f:if condition="{tableClass}">
      <f:for each="{tableClass}" as="class" iteration="i">
        <f:variable name="table_classes">{table_classes} {class}</f:variable>
      </f:for>
    </f:if>

    <table class="ce-table table{f:if(condition: table_classes, then: '{table_classes}')}">
      <f:if condition="{data.table_caption}">
        <caption>{data.table_caption}</caption>
      </f:if>
      <f:for each="{table}" as="row" iteration="rowIterator">
        <f:if condition="{rowIterator.isFirst}">
          <f:then>
            <f:if condition="{data.table_header_position} == 1">
              <f:then>
                <thead>
              </f:then>
              <f:else>
                <tbody>
              </f:else>
            </f:if>
          </f:then>
          <f:else>
            <f:if condition="{rowIterator.isLast}">
              <f:if condition="{data.table_tfoot}">
                </tbody>
                <tfoot>
              </f:if>
            </f:if>
          </f:else>
        </f:if>
        <tr>
          <f:for each="{row}" as="cell" iteration="columnIterator">
            <f:render section="Columns" arguments="{_all}" />
          </f:for>
        </tr>
        <f:if condition="{rowIterator.isFirst}">
          <f:then>
            <f:if condition="{data.table_header_position} == 1">
              </thead>
              <tbody>
            </f:if>
          </f:then>
          <f:else>
            <f:if condition="{rowIterator.isLast}">
              <f:if condition="{data.table_tfoot}">
                <f:then>
                  </tfoot>
                </f:then>
                <f:else>
                  </tbody>
                </f:else>
              </f:if>
            </f:if>
          </f:else>
        </f:if>
      </f:for>
    </table>
  </f:if>

</f:section>


<f:section name="Columns">

  <f:if condition="{rowIterator.isFirst}">
    <f:then>
      <f:if condition="{data.table_header_position} == 1">
        <f:then>
          <th>
        </f:then>
        <f:else>
          <f:if condition="{columnIterator.isFirst}">
            <f:then>
              <f:if condition="{data.table_header_position} == 2">
                <f:then>
                  <th>
                </f:then>
                <f:else>
                  <td>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <td>
            </f:else>
          </f:if>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <f:if condition="{columnIterator.isFirst}">
        <f:then>
          <f:if condition="{data.table_header_position} == 2">
            <f:then>
              <th>
            </f:then>
            <f:else>
              <td>
            </f:else>
          </f:if>
        </f:then>
        <f:else>
          <td>
        </f:else>
      </f:if>
    </f:else>
  </f:if>

  <f:if condition="{cell} != ''">
    <f:then>
      {cell -> f:format.nl2br()}
    </f:then>
    <f:else>
      &nbsp;
    </f:else>
  </f:if>

  <f:if condition="{rowIterator.isFirst}">
    <f:then>
      <f:if condition="{data.table_header_position} == 1">
        <f:then>
          </th>
        </f:then>
        <f:else>
          <f:if condition="{columnIterator.isFirst}">
            <f:then>
              <f:if condition="{data.table_header_position} == 2">
                <f:then>
                  </th>
                </f:then>
                <f:else>
                  </td>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              </td>
            </f:else>
          </f:if>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <f:if condition="{columnIterator.isFirst}">
        <f:then>
          <f:if condition="{data.table_header_position} == 2">
            <f:then>
              </th>
            </f:then>
            <f:else>
              </td>
            </f:else>
          </f:if>
        </f:then>
        <f:else>
          </td>
        </f:else>
      </f:if>
    </f:else>
  </f:if>

</f:section>



</html>
