<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Textmedia.html [begin] -->

  <f:switch expression="{data.imageorient}">
    <f:case value="1">
      <f:variable name="var">text-media-above-right</f:variable>
    </f:case>
    <f:case value="2">
      <f:variable name="var">text-media-above-left</f:variable>
    </f:case>
    <f:case value="8">
      <f:variable name="var">text-media-below-center</f:variable>
    </f:case>
    <f:case value="9">
      <f:variable name="var">text-media-below-right</f:variable>
    </f:case>
    <f:case value="10">
      <f:variable name="var">text-media-below-left</f:variable>
    </f:case>
    <f:case value="25">
      <f:variable name="var">text-media-right</f:variable>
    </f:case>
    <f:case value="26">
      <f:variable name="var">text-media-left</f:variable>
    </f:case>
    <f:defaultCase>
      <f:variable name="var">text-media-above-center</f:variable>
    </f:defaultCase>
  </f:switch>

  <div class="ce-textmedia__wrp">
    <div class="ce-textmedia {var} {data.textorient}">

      <div class="ce-textmedia__media">
        <f:render partial="Media/Figure" arguments="{_all}" />
      </div>

      <div class="ce-textmedia__text">
        <div class="ce-textmedia__header">
          <f:render partial="Header/All" arguments="{_all}" />
        </div>
        <f:if condition="{data.bodytext} || {t3kit:isPlaceholderEnabled()}">
          <div class="ce-textmedia__bodytext">
            <f:render partial="Bodytext/RTEBodytext" arguments="{_all}" />
          </div>
        </f:if>
      </div>

    </div>
  </div>

<!-- t3kit: Resources/Private/Templates/ContentElements/Static/Textmedia.html [end] -->
</f:section>

</html>
