<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

  <f:switch expression="{data.imageorient}">
    <f:case value="1">
      <f:variable name="var">text-img-above-right</f:variable>
    </f:case>
    <f:case value="2">
      <f:variable name="var">text-img-above-left</f:variable>
    </f:case>
    <f:case value="8">
      <f:variable name="var">text-img-below-center</f:variable>
    </f:case>
    <f:case value="9">
      <f:variable name="var">text-img-below-right</f:variable>
    </f:case>
    <f:case value="10">
      <f:variable name="var">text-img-below-left</f:variable>
    </f:case>
    <f:case value="25">
      <f:variable name="var">text-img-right</f:variable>
    </f:case>
    <f:case value="26">
      <f:variable name="var">text-img-left</f:variable>
    </f:case>
    <f:defaultCase>
      <f:variable name="var">text-img-above-center</f:variable>
    </f:defaultCase>
  </f:switch>


  <div class="textpic-ce {var}">

    <div class="textpic-ce__picture">
      <f:render partial="Media/Figure" arguments="{_all}" />
    </div>

    <div class="textpic-ce__text">
      <div class="textpic-ce__header">
        <f:render partial="Header/All" arguments="{_all}" />
      </div>
      <f:if condition="{data.bodytext}">
        <div class="textpic-ce__bodytext">
          <f:format.html>{data.bodytext}</f:format.html>
        </div>
      </f:if>
    </div>

  </div>

</f:section>

</html>
