// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// --------------------------------------------------------
// X-Small devices (portrait phones, less than 576px) xs
// @media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up) sm
// @media (min-width: 576px) { ... }

// --------------------------------------------------------
// Small devices (landscape phones, less than 768px) sm
// @media (max-width: 767.98px) { ... }
// Medium devices (tablets, 768px and up) md
// @media (min-width: 768px) { ... }

// --------------------------------------------------------
// Medium devices (tablets, less than 992px) md
// @media (max-width: 991.98px) { ... }
// Large devices (desktops, 992px and up) lg
// @media (min-width: 992px) { ... }

// --------------------------------------------------------
// Large devices (desktops, less than 1200px) lg
// @media (max-width: 1199.98px) { ... }
// X-Large devices (large desktops, 1200px and up) xl
// @media (min-width: 1200px) { ... }

// --------------------------------------------------------
// X-Large devices (large desktops, less than 1400px) xl
// @media (max-width: 1399.98px) { ... }
// XX-Large devices (larger desktops, 1400px and up) xxl
// @media (min-width: 1400px) { ... }

.ce-contact-card__wrp {
  --t3-ce-cc-color: var(--t3-body-color);
  --t3-ce-cc-border-color: var(--t3-border-color);
  --t3-ce-cc-line-color: var(--t3-secondary);
  --t3-ce-cc-name-color: var(--t3-ce-cc-color);
  --t3-ce-cc-jt-color: var(--t3-ce-cc-color);
  --t3-ce-cc-link-color: var(--t3-link-color);

  position: relative;
  color: var(--t3-ce-cc-color);
}

.ce-contact-card {
  text-align: center;
  border: 1px solid var(--t3-ce-cc-border-color);
}

.ce-contact-card__info {
  padding-bottom: 1.25rem;
}

.ce-contact-card__name-wrp {
  color: var(--t3-ce-cc-name-color);
  font-size: 1.25rem;
}

.ce-contact-card__job-title {
  color: var(--t3-ce-cc-jt-color);
  font-size: 1rem;
}

.ce-contact-card__job-title-wrp:after {
  content: "";
  display: block;
  width: 20%;
  background: var(--t3-ce-cc-line-color);
  height: 2px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ce-contact-card__phone,
.ce-contact-card__email,
.ce-contact-card__link {
  display: inline-block;
  font-size: 1rem;
  color: var(--t3-ce-cc-link-color);
  padding-bottom: 0.6rem;
}
