	<IfModule mod_headers.c>

	RewriteCond %{HTTP:Accept-Encoding} br
	RewriteCond %{REQUEST_FILENAME}\.br -f
	RewriteRule \.(css|ics|js|json|html|svg)$ %{REQUEST_URI}.br [L]

	# Prevent mod_deflate double gzip
	RewriteRule \.br$ - [E=no-gzip:1]

	<FilesMatch "\.br$">

		<IfModule mod_mime.c>
			# Serve correct content types
			AddType text/css              css.br
			AddType text/calendar         ics.br
			AddType text/javascript       js.br
			AddType application/json      json.br
			AddType text/html             html.br
			AddType image/svg+xml         svg.br

			# Serve correct content charset
			AddCharset utf-8 .css.br \
								.ics.br \
								.js.br \
								.json.br
		</IfModule>

		# Force proxies to cache brotlied and non-brotlied files separately
		Header append Vary Accept-Encoding

	</FilesMatch>

	# Serve correct encoding type
	AddEncoding br .br

	</IfModule>


	<IfModule mod_headers.c>

	RewriteCond %{HTTP:Accept-Encoding} gzip
	RewriteCond %{REQUEST_FILENAME}\.gz -f
	RewriteRule \.(css|js|json|svg)$ %{REQUEST_URI}.gz [L]

	# Prevent mod_deflate double gzip
	RewriteRule \.gz$ - [E=no-gzip:1]

	<FilesMatch "\.gz$">

		# Serve correct content types
		<IfModule mod_mime.c>
			# (1)
			RemoveType gz

			# Serve correct content types
			AddType text/css              css.gz
			AddType text/javascript       js.gz
			AddType application/json      json.gz
			AddType image/svg+xml         svg.gz

			# Serve correct content charset
			AddCharset utf-8 .css.gz \
								.ics.gz \
								.js.gz \
								.json.gz
		</IfModule>

		# Force proxies to cache gzipped and non-gzipped files separately
		Header append Vary Accept-Encoding
		Header set "Cache-Control" 'max-age=10, stale-while-revalidate=2592000'
	</FilesMatch>

	# Serve correct encoding type
	AddEncoding gzip .gz

	</IfModule>
	FileETag MTime Size
