@use '../../../variables' as var;
// use bootstrap mixins based on t3kit variable overrides
// check "theme/src/styles/bootstrap/mixins/_index.scss"
@use '../../../bootstrap/mixins' as mixin;

// ============================================================
// Header top
// ============================================================
.mobile-menu-opened .header {
  height: 100%;
}

.header-top-wrp {
  // background: $white;
  position: relative;
  // z-index: 5000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 2px solid var.$black;

  @include mixin.media-breakpoint-up(lg) {
    z-index: 5000;
    background: var.$white;
    padding-bottom: 0;
  }
}

.header-top {
  background: var.$white;
  position: fixed;
  z-index: 5001;
  margin: 0 auto;

  @include mixin.clearfix();

  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  height: 50px;

  @include mixin.media-breakpoint-up(lg) {
    position: relative;
    box-shadow: none;
    //max-width: $container-md;
    max-width: 992px;
  }

  @include mixin.media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}

.header-top__contact {
  float: left;
  display: none;
  color: var.$black;

  @include mixin.media-breakpoint-up(lg) {
    display: block;
  }
}

.header-top__language-menu a {
  -webkit-tap-highlight-color: rgba(120, 120, 120, 0.3);
}

.header-top__contact-tel {
  display: inline-block;
  padding: 0 15px;
  line-height: 50px;
}

.header-top__contact-tel-link {
  color: lighten(var.$blue, 15%);
  padding-left: 2px;
}

.header-top__contact-email {
  display: inline-block;
  padding: 0 15px;
  // line-height: 30px;
  line-height: 50px;
}

.header-top__contact-email-link {
  color: lighten(var.$blue, 15%);
  padding-left: 2px;
}

.header-top .nav {
  float: right;
  margin: 0;
  padding: 0;
  display: none;

  @include mixin.media-breakpoint-up(md) {
    display: block;
  }
}

.header-top .nav > li {
  display: inline-block;
}

.header-top .nav > li > a {
  padding: 0 14px;
  display: inline-block;
  // line-height: 50px;
  line-height: 50;
  color: var.$black; //var.$black;
}

.header-top .nav li > a .icons {
  color: lighten(var.$blue, 15%);
  font-size: 14px;
  position: relative;
  // top: 1px;
  padding-right: 10px;
}

// =========================================================
// Header language

.header-top__language-menu {
  float: right;
}

.header-top__language-menu-box {
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 0;
  background: var.$white;
  left: 0;
  right: 0;
  z-index: 4000;
  text-align: right;
  padding-right: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  border-bottom: 1px solid var.$black;

  @include mixin.media-breakpoint-up(sm) {
    left: calc((100% - 970px) / 2);
    right: calc((100% - 970px) / 2);
  }

  @include mixin.media-breakpoint-up(md) {
    left: calc((100% - 1170px) / 2);
    right: calc((100% - 1170px) / 2);
  }
}

.header-top__language-menu-box-close-btn:after,
.header-top__language-menu-box-close-btn:before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 18px;
  top: 50%;
  margin-top: -1px;
  right: 15px;
  margin-left: -11px;
  background: var.$blue;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header-top__language-menu-box-close-btn:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-top__language-menu-box-close-btn:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-top__language-menu-box._language-menu-box-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.header-top__language-menu-overlay {
  background: rgba(34, 34, 34, 0.3);
  position: fixed;
  z-index: 2300;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  @include mixin.media-breakpoint-up(lg) {
    z-index: 1999;
  }
}

.header-top__language-menu-overlay._language-menu-box-overlay-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.header-top__language-menu-btn {
  display: inline-block;
  // line-height: 50px;
  line-height: 50px;
  color: var.$black;
  font-size: 14px;
  padding: 0 15px;
}

.header-top__language-menu-box-close-btn {
  display: block;
  right: 4px;
  top: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.header-top__language-menu-box-item {
  color: fadein(var.$black, 90%);
  font-size: 12px;
  padding: 8px 14px;
  display: block;
  text-align: left;

  @include mixin.media-breakpoint-up(lg) {
    display: inline-block;
    padding: 0 14px;
    line-height: 50px;
  }
}

.main-flag-language.flag-language {
  padding-left: 5px;
  color: var.$blue;
}

._freeze-body {
  height: 100%;
  width: 100%;
  position: fixed;
}
