.target-blank-link {
  position: relative;
}

.target-blank-link__title {
  font-weight: normal;
}

.target-blank-link__msg {
  position: absolute;
  display: block;
  text-align: center;
  top: 1.4rem;
  width: 13em;
  left: 1rem;
  background-color: var(--t3-target-blank-msg--bg);
  color: var(--t3-target-blank-msg--color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 1030;
  cursor: default;
}

.target-blank-link:not(:focus) .target-blank-link__msg {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// .target-blank-link__icon-wrp {}
// .target-blank-link__icon {}
