.inverted-color,
.inverted-color .header-item,
.inverted-color .subheader-item,
.inverted-color .bodytext-partial,
.inverted-color .link-partial {
  color: var(--t3-body-bg);
}

.primary-color,
.primary-color .header-item,
.primary-color .subheader-item,
.primary-color .bodytext-partial,
.primary-color .link-partial {
  color: var(--t3-primary);
}

.secondary-color,
.secondary-color .header-item,
.secondary-color .subheader-item,
.secondary-color .bodytext-partial,
.secondary-color .link-partial {
  color: var(--t3-secondary);
}

.dark-color,
.dark-color .header-item,
.dark-color .subheader-item,
.dark-color .bodytext-partial,
.dark-color .link-partial {
  color: var(--t3-dark);
}

.light-color,
.light-color .header-item,
.light-color .subheader-item,
.light-color .bodytext-partial,
.light-color .link-partial {
  color: var(--t3-light);
}
