<div class="tx-indexedsearch-searchbox">
    <f:form pageUid="{settings.targetPid}" method="post" absolute="0" action="search" extensionName="IndexedSearch" pluginName="pi2" controller="Search">
        <div class="header-middle__search-wrp">
            <div class="header-middle__search-box">
                <f:form.textfield name="search[sword]" class="header-middle__search-input" />
                <f:form.button type="submit" class=" header-middle__search-submit"><span class="icons icon-t3-search"></span></f:form.button>
            </div>
        </div>
    </f:form>
</div>
