<div class="tx-indexedsearch-searchbox search-input">
    <f:form pageUid="{settings.targetPid}" method="post" absolute="0" action="search" extensionName="IndexedSearch" pluginName="pi2" controller="Search">
        <div class="input-group d-flex search-input__group">
            <div class="search-input__group-box js__search-input__group-box d-flex w-100">
                <div class="awesomplete d-flex w-100">
                    <f:form.textfield name="search[sword]" class="search-input__group-input" />
                </div>
            </div>
            <div class="search-input__group-btn-wrp">
                <div class="search-input__group-btn">
                    <a class="search-input__group-btn-submit js__search-input__group-btn-submit btn" href="#"><t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/search.svg" aria-hidden="true" focusable="false"/></a>
                </div>
            </div>
        </div>
    </f:form>
</div>
