<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:for each="{files}" as="file">

  <f:switch expression="{file.type}">
    <f:case value="3">
      <f:render partial="Media/Type/Audio" arguments="{data: data, file:file, options:options}"/>
    </f:case>
    <f:case value="4">
      <f:render partial="Media/Type/Video" arguments="{data: data, file:file, options:options}"/>
    </f:case>
    <f:defaultCase>
      <f:render partial="Media/Type/Picture" arguments="{data: data, file:file, options:options}"/>
    </f:defaultCase>
  </f:switch>

</f:for>

</html>



