// images/media
.img-fluid {
  max-width: 100%;
  height: auto;
}

// .img-thumbnail {
//   padding: 0.25rem;
//   background-color: #fff;
//   border: 1px solid #dee2e6;
//   border-radius: 0.25rem;
//   max-width: 100%;
//   height: auto;
// }

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #6c757d;
}

.figure-video {
  display: block;
}
