<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path:'Favicons/apple-touch-icon.png', extensionName: '{site.configuration.theme}')}">
  <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path:'Favicons/favicon-32x32.png', extensionName: '{site.configuration.theme}')}">
  <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path:'Favicons/favicon-16x16.png', extensionName: '{site.configuration.theme}')}">
  <link rel="manifest" href="{f:uri.resource(path:'Favicons/site.webmanifest', extensionName: '{site.configuration.theme}')}">
  <link rel="mask-icon" href="{f:uri.resource(path:'Favicons/safari-pinned-tab.svg', extensionName: '{site.configuration.theme}')}" color="#1d1d1d">
  <link rel="shortcut icon" href="{f:uri.resource(path:'Favicons/favicon.ico', extensionName: '{site.configuration.theme}')}">
  <meta name="apple-mobile-web-app-title" content="t3kit">
  <meta name="application-name" content="t3kit">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="{f:uri.resource(path:'Favicons/browserconfig.xml', extensionName: '{site.configuration.theme}')}">
  <meta name="theme-color" content="#ffffff">

  <f:comment>
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'CSS/t3kit.css', extensionName: '{site.configuration.theme}')}" media="all">
  </f:comment>
</html>
