<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Special/DividerIcon.html [begin] -->

  <div class="ce-divider-icon__wrp">
    <div class="ce-divider-icon">
      <f:if condition="{data.icon}">
        <f:then>
          <span class="ce-divider-icon__icon-wrp">
            <t3kit:render.svg src="{data.icon}" class="t3icon ce-divider-icon__icon" />
          </span>
        </f:then>
        <f:else>
          <hr class="ce-divider-icon__hr" />
        </f:else>
      </f:if>
    </div>
  </div>

<!-- t3kit: Resources/Private/Templates/ContentElements/Special/DividerIcon.html [end] -->
</f:section>

</html>
