<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Header" />

<f:section name="Main">
<!-- t3kit: Resources/Private/Templates/ContentElements/Special/DividerIcon.html [begin] -->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="content-special-divider-icon__icon">
      <f:if condition="{data.icon}">
        <f:then>
          <span class="content-special-divider-icon__icon-wrp">
            <t3kit:render.svg src="{data.icon}" class="t3icon content-special-divider-icon__icon {data.icon_class}" />
          </span>
        </f:then>
        <f:else>
          <hr />
        </f:else>
      </f:if>
    </div>

<!-- t3kit: Resources/Private/Templates/ContentElements/Special/DividerIcon.html [end] -->
</f:section>

</html>
