<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Header" />

<f:section name="Header" />

<f:section name="Main">

  <div class="ce-simple-site-header">

    <f:render partial="Nav/SkipLinks" arguments="{_all}" />

    <div class="ce-simple-site-header__main-navigation-wrp">

      <f:render section="mainNavigation" arguments="{_all}" />

    </div>
  </div>

</f:section>

<f:comment>======== Main navigation ========</f:comment>
<f:section name="mainNavigation">

    <f:comment>add "navbar" class only for the one reason - to disable Popperjs in the Bootstrap dropdown js script</f:comment>
    <nav id="main-navigation"
      aria-label="Primary"
      class="main-navigation {flexform.main_nav_mobile_breakpoint} navbar">
      <div class="main-navigation__container
        {flexform.main_nav_mobile_toggle_position}
        {f:if(condition: flexform.main_nav_full_width, then: ' container-fluid', else: ' container')}">

        <f:if condition="{files} || {svg_image}">
          <div class="main-navigation__logo navbar-brand">
            <f:render section="logo" arguments="{_all}" />
          </div>
        </f:if>
        <button class="main-navigation-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="main-navigation-toggler-icon"></span>
        </button>

        <div class="main-navigation__items-wrp collapse navbar-collapse" id="mainNavigation">
          <ul class="main-navigation__list ">

            <f:for each="{mainNavigation}" as="navItem">
              <li class="main-navigation__item {navItem.data.uid} {f:if(condition: navItem.active, then:' active')} {f:if(condition: navItem.children, then:' dropdown')}">

                <f:if condition="{navItem.children} && {flexform.main_nav_dropdown} && {navItem.data.hide_subpages_in_menu} == 0">
                  <f:then>
                    <f:render section="mainNavigationdropdown" arguments="{_all}" />
                  </f:then>
                  <f:else>
                    <f:render section="menuLink" arguments="{item:navItem, class: 'main-navigation__item-link'}" />
                  </f:else>
                </f:if>

              </li>
            </f:for>

          </ul>
          <f:if condition="{flexform.main_nav_search}">
            <div class="ce-simple-site-header__main-navigation-search">
              <f:render section="search" arguments="{_all}" />
            </div>
          </f:if>
          <f:if condition="{flexform.main_nav_lang_menu}">
            <div class="ce-simple-site-header__main-navigation-langmenu">
              <f:render section="langmenu" arguments="{_all}" />
            </div>
          </f:if>
        </div>

      </div>
    </nav>

</f:section>

<f:comment>Logo section</f:comment>
<f:section name="logo">
  <div class="ce-simple-site-header__logo-wrp">
    <div class="ce-simple-site-header__logo">
      <f:if condition="{files}">
        <f:render partial="Media/Image" arguments="{_all}" />
      </f:if>
      <f:if condition="{svg_image}">
        <f:render partial="Media/Svg" arguments="{data: data, files: svg_image}" />
      </f:if>
    </div>
  </div>
</f:section>

<f:comment>Search section</f:comment>
<f:section name="search">
  <div class="ce-simple-site-header__search-wrp">
    <div class="ce-simple-site-header__search">
    </div>
  </div>
</f:section>

<f:comment>Lang menu section</f:comment>
<f:section name="langmenu">
  <div class="ce-simple-site-header__langmenu-wrp">
    <div class="ce-simple-site-header__langmenu">
    </div>
  </div>
</f:section>

<f:comment>======== Main navigation dropdown ========</f:comment>
<f:section name="mainNavigationdropdown">

  <a href="#"
    id="navbarDropdown{navItem.data.uid}"
    class="main-navigation__item-link
      {f:if(condition: navItem.children, then:' dropdown-toggle')}"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
      {navItem.title}
  </a>

  <ul class="main-navigation__dropdown-item-list
    dropdown-menu
    {f:if(condition: '{navItem.data.doktype} == 1 || {navItem.data.doktype} == 9 || {navItem.data.doktype} == 3', then: ' show-parent-link')}"
    aria-labelledby="navbarDropdown{navItem.data.uid}">

    <f:if condition="{navItem.data.doktype} == 1 || {navItem.data.doktype} == 9 || {navItem.data.doktype} == 3 ">
      <li class="main-navigation__dropdown-item {f:if(condition: navItem.active, then:' active')} {navItem.data.uid}">

        <f:render section="menuLink" arguments="{item:navItem, class: 'main-navigation__dropdown-item-link main-navigation__dropdown-item-parent-link'}" />

      </li>
    </f:if>

    <f:for each="{navItem.children}" as="childItem">

      <f:if condition="{childItem.spacer}">
        <f:then>
            <li class="main-navigation__dropdown-item-divider"></li>
        </f:then>

        <f:else>
          <li class="main-navigation__dropdown-item {f:if(condition: childItem.active, then:' active')} {childItem.data.uid}">

            <f:render section="menuLink" arguments="{item:childItem, class: 'main-navigation__dropdown-item-link'}" />

          </li>
        </f:else>
      </f:if>

    </f:for>
  </ul>

</f:section>

<f:comment>Main menu link section</f:comment>
<f:comment>+Accessibility for target _blank link structure</f:comment>
<f:section name="menuLink">
  <a href="{item.link}"
    class="{class} {f:if(condition: item.target,then: ' target-blank-link')}"
    {f:if(condition: item.target, then: 'rel="noreferrer"' )}
    {f:if(condition: item.target, then: 'target="_blank"')}
    {f:if(condition: item.current, then: 'aria-current="page"')}>

    <f:if condition="{item.target}">
      <f:then>
        <strong class="main-navigation__item-link-title target-blank-link__title">
          {item.title}
        </strong>
        <span class="target-blank-link__msg">
          <f:translate key="target_blank" extensionName="t3kit" />
        </span>
        <span class="target-blank-link__icon-wrp">
          <svg class="target-blank-link__icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          </svg>
        </span>
      </f:then>

      <f:else>
        <span class="main-navigation__item-link-title">
          {item.title}
        </span>
      </f:else>
    </f:if>
  </a>
</f:section>

</html>
