<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Footer" />

<f:section name="Header" />

<f:section name="Main">

  <div class=" ce-site-footer">
    <div class="ce-site-footer__container
      {f:if(condition: flexform.footer_full_width, then: ' container-fluid', else: ' container')}">

      <div class="ce-site-footer__columns">
        <div class="row">

          <f:if condition="{flexform.show_address} || {files}">
            <div class="col-lg-3">

              <f:if condition="{files} || {svg_image}">
                <div class="ce-site-footer__logo">
                  <f:if condition="{files}">
                    <f:render partial="Media/Image" arguments="{_all}" />
                  </f:if>
                  <f:if condition="{svg_image}">
                    <f:render partial="Media/Svg" arguments="{data: data, files: svg_image}" />
                  </f:if>
                </div>
              </f:if>

              <f:if condition="{flexform.show_address}">
                <div class="ce-site-footer__info">
                  <div class="ce-site-footer__info-title-wrp">
                    <span class="ce-site-footer__info-title">{flexform.name}</span>
                  </div>

                  <address class="ce-site-footer__address-wrp">
                    <span class="ce-site-footer__address">
                      <f:format.nl2br>{flexform.address}</f:format.nl2br>
                    </span>

                    <div class="ce-site-footer__phone">
                      <f:link.typolink parameter="{flexform.contactPhone_link}" class="ce-site-footer__phone-item ce-site-footer__link">
                        {flexform.contactPhone_title}
                      </f:link.typolink>
                    </div>

                    <div class="ce-site-footer__email">
                      <f:link.typolink parameter="{flexform.email}" class="ce-site-footer__email-item ce-site-footer__link"/>
                    </div>
                  </address>
                </div>
              </f:if>

            </div>
          </f:if>

          <div class="col-lg-9">
          <nav class="footer-site-navigation row" aria-label="Site">

            <f:if condition="{links_1}">
              <div class="col-lg">

                <div class="ce-site-footer__column">
                  <f:if condition="{flexform.column_1_title}">
                    <div class="ce-site-footer__column-title">
                      <f:render partial="Header/Render/Header" arguments="{
                        uid: data.uid,
                        header: flexform.column_1_title,
                        layout: data.header_layout,
                        style: data.header_style}" />
                    </div>
                  </f:if>

                  <div class="ce-site-footer__column-links">
                    <f:render section="links" arguments="{links: links_1, flexform: flexform}" />
                  </div>
                </div>

              </div>
            </f:if>

            <f:if condition="{links_2}">
              <div class="col-lg">

                <div class="ce-site-footer__column">
                  <f:if condition="{flexform.column_2_title}">
                    <div class="ce-site-footer__column-title">
                      <f:render partial="Header/Render/Header" arguments="{
                        uid: data.uid,
                        header: flexform.column_2_title,
                        layout: data.header_layout,
                        style: data.header_style}" />
                    </div>
                  </f:if>

                  <div class="ce-site-footer__column-links">
                    <f:render section="links" arguments="{links: links_2, flexform: flexform}" />
                  </div>
                </div>

              </div>
            </f:if>

            <f:if condition="{links_3}">
              <div class="col-lg">

                <div class="ce-site-footer__column">
                  <f:if condition="{flexform.column_3_title}">
                    <div class="ce-site-footer__column-title">
                      <f:render partial="Header/Render/Header" arguments="{
                        uid: data.uid,
                        header: flexform.column_3_title,
                        layout: data.header_layout,
                        style: data.header_style}" />
                    </div>
                  </f:if>

                  <div class="ce-site-footer__column-links">
                    <f:render section="links" arguments="{links: links_3, flexform: flexform}" />
                  </div>
                </div>

              </div>
            </f:if>

          </nav>
        </div>

        </div>
      </div>

      <div class="ce-site-footer__bottom">
        <f:if condition="{flexform.copyright}">
          <div class="ce-site-footer__bottom-copyright-wrp">
            <div class="ce-site-footer__bottom-copyright">
              {flexform.copyright}
            </div>
          </div>
        </f:if>
        <f:if condition="{bottom_links}">
            <div class="ce-site-footer__bottom-links">
              <f:render section="links" arguments="{links: bottom_links, flexform: flexform}" />
            </div>
        </f:if>
      </div>

    </div>
  </div>

</f:section>


<f:comment>======== Links ========</f:comment>
<f:section name="links">

    <div class="ce-site-footer__links">
      <ul class="ce-site-footer__links-list">
        <f:for each="{links}" as="linkItem">
          <li class="ce-site-footer__links-list-item {navItem.data.uid} {f:if(condition: navItem.active, then:' active')}">
            <a href="{linkItem.link}"
            class="ce-site-footer__links-list-item-link ce-site-footer__link {f:if(condition: linkItem.target,then: ' target-blank-link')}"
            {f:if(condition: linkItem.target, then: 'rel="noreferrer"' )}
            {f:if(condition: linkItem.target, then: 'target="_blank"')}>
                <f:render section="linkTitle" arguments="{item: linkItem, flexform: flexform}" />
            </a>
          </li>
        </f:for>

      </ul>
    </div>

</f:section>


<f:section name="linkTitle">

  <f:if condition="{flexform.show_page_icons} && {item.data.nav_icon}">
    <span class="ce-site-footer__links-list-item-icon-wrp">
      <t3kit:render.svg src="{item.data.nav_icon}" aria-hidden="true" focusable="false" class="t3icon ce-site-footer__links-list-item-icon" />
    </span>
  </f:if>

  <f:if condition="{flexform.show_page_icons} && {item.nav_image}">
    <div class="ce-site-footer__links-list-item-image-wrp">
      <f:media class="ce-site-footer__links-list-item-image img-fluid"
        file="{item.nav_image.0}"
        alt="{item.nav_image.0.alternative}"
        loading="lazy" />
    </div>
  </f:if>
  <f:if condition="{item.target}">
    <f:then>
      <span class="ce-site-footer__links-list-item-title">{item.title}</span>
      <span class="target-blank-link__msg">
        <f:translate key="target_blank" extensionName="t3kit" />
      </span>
      <span class="target-blank-link__icon-wrp">
        <svg class="target-blank-link__icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
          <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
        </svg>
      </span>
    </f:then>

    <f:else>
      <span class="ce-site-footer__links-list-item-title">{item.title}</span>
    </f:else>
  </f:if>
</f:section>

</html>
