<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Header" />

<f:section name="Header" />

<f:section name="Main">

  <div class="ce-site-header">

    <f:render partial="Nav/SkipLinks" arguments="{_all}" />

    <f:if condition="{flexform.main_nav_dropdown} == big-menu-dropdown">
      <f:render partial="Js/Site-header--inline" arguments="{_all}" />
    </f:if>

    <f:if condition="{flexform.main_nav_search}">
      <f:render partial="Js/Awesomplete--async" arguments="{_all}" />
    </f:if>

    <f:if condition="{flexform.header_top}">
      <div class="ce-site-header__top-wrp">
          <div class="ce-site-header__top container">
            <f:if condition="{flexform.header_top_meta_menu}">
                <f:render section="topMetamenu" arguments="{_all}" />
            </f:if>

            <f:if condition="{flexform.header_top_lang_menu}">
              <div class="ce-site-header__top-langmenu-wrp navbar">
                <div class="ce-site-header__top-langmenu dropdown">
                  <f:render section="langmenu" arguments="{_all}" />
                </div>
              </div>
            </f:if>

            <f:if condition="{flexform.header_top_search}">
              <div class="ce-site-header__top-search-wrp">
                <f:render section="search" arguments="{_all}" />
              </div>
            </f:if>

          </div>
      </div>
    </f:if>

    <div class="ce-site-header__main-navigation-wrp">

      <f:render section="mainNavigation" arguments="{_all}" />

    </div>
  </div>

</f:section>

<f:comment>======== Top header section ========</f:comment>
<f:comment>Top meta menu</f:comment>
<f:section name="topMetamenu">
  <div class="ce-site-header__top-meta-menu-wrp">
    <div class="ce-site-header__top-meta-menu">
        <ul class="ce-site-header__top-meta-menu-list">
          <f:for each="{metaMenu}" as="metaItem" iteration="i">
            <li class="ce-site-header__top-meta-menu-list-item {metaItem.data.uid}">
              <f:render section="menuLink" arguments="{item:metaItem, class: 'ce-site-header__top-meta-menu-list-item-link'}" />
            </li>
          </f:for>
        </ul>
    </div>
  </div>
</f:section>

<f:comment>======== Main navigation ========</f:comment>
<f:section name="mainNavigation">

    <f:comment>add "navbar" class only for the one reason - to disable Popperjs in the Bootstrap dropdown js script</f:comment>
    <nav id="main-navigation"
      aria-label="Primary"
      class="main-navigation {flexform.main_nav_mobile_breakpoint} navbar">
      <div class="main-navigation__container
        {flexform.main_nav_mobile_toggle_position}
        {f:if(condition: flexform.main_nav_full_width, then: ' container-fluid', else: ' container')}">

        <f:if condition="{files} || {svg_image}">
          <div class="main-navigation__logo navbar-brand">
            <f:render section="logo" arguments="{_all}" />
          </div>
        </f:if>
        <button class="main-navigation-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="main-navigation-toggler-icon"></span>
        </button>

        <div class="main-navigation__items-wrp collapse navbar-collapse {f:if(condition: '{flexform.main_nav_mobile_search_position} == inside', then: ' inside')}" id="mainNavigation">
          <ul class="main-navigation__list {f:if(condition: '{flexform.sticky_header} && {flexform.main_nav_dropdown} == big-menu-dropdown', then: ' sticky-menu')}">

            <f:for each="{mainNavigation}" as="navItem">
              <li class="main-navigation__item {navItem.data.uid} {f:if(condition: navItem.active, then:' active')} {f:if(condition: navItem.children, then:' dropdown')} {f:if(condition: '{navItem.children} && {flexform.main_nav_dropdown} == big-menu-dropdown', then:' big-menu-wrp')}">

                <f:if condition="{navItem.children} && {flexform.main_nav_dropdown} != none && {navItem.data.hide_subpages_in_menu} == 0">
                  <f:then>
                    <f:render section="mainNavigationdropdown" arguments="{_all}" />
                  </f:then>
                  <f:else>
                    <f:render section="menuLink" arguments="{item:navItem, class: 'main-navigation__item-link'}" />
                  </f:else>
                </f:if>

              </li>
            </f:for>
          </ul>
          <f:if condition="{flexform.main_nav_mobile_search_position} == outside">
            </div>
          </f:if>

            <f:if condition="{flexform.main_nav_lang_menu}">
              <div class="ce-site-header__langmenu-wrp {flexform.main_nav_mobile_search_position}">
                <div class="ce-site-header__langmenu">
                  <f:render section="langmenu" arguments="{_all}" />
                </div>
              </div>
            </f:if>
            <f:if condition="{flexform.main_nav_search}">
              <div class="ce-site-header__main-navigation-search {flexform.main_nav_mobile_search_position}">
                <div class="ce-site-header__search-wrp">
                  <f:render section="search" arguments="{_all}" />
                </div>
              </div>
            </f:if>

        <f:if condition="{flexform.main_nav_mobile_search_position} == inside">
          </div>
        </f:if>
      </div>
    </nav>

</f:section>

<f:comment>Logo section</f:comment>
<f:section name="logo">
  <div class="ce-site-header__logo-wrp">
    <div class="ce-site-header__logo">
      <f:if condition="{files}">
        <f:render partial="Media/Image" arguments="{_all}" />
      </f:if>
      <f:if condition="{svg_image}">
        <f:render partial="Media/Svg" arguments="{data: data, files: svg_image}" />
      </f:if>
    </div>
  </div>
</f:section>

<f:comment>Top Search section</f:comment>
<f:section name="topSearch">
  <div class="ce-site-header__search">
    <a class="ce-site-header__search-icon collapsed ce-site-header__top-meta-menu-list-item-link" href="#search__main-navigation-search" aria-controls="search__main-navigation-search" id="search-toggle-btn" data-bs-toggle="collapse" aria-expanded="false" >
        <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/search.svg" class="ce-site-header__search-icon-search" aria-hidden="true" focusable="false"/>
        <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/x-circle.svg" class="ce-site-header__search-icon-close" aria-hidden="true" focusable="false"/>
    </a>
    <div class="ce-site-header__search-field-wrp collapse search-collapse" id="search__main-navigation-search" aria-labelledby="search-toggle-btn">
        <div class="ce-site-header__search-field {f:if(condition: flexform.main_nav_full_width, then: ' container-fluid', else: ' container')}">
          <f:cObject typoscriptObjectPath="lib.contentObject.headerTopSearch.20" />
        </div>
    </div>
  </div>
  </f:section>

<f:comment>Search section</f:comment>
<f:section name="search">
  <div class="ce-site-header__search">
    <a class="ce-site-header__search-icon collapsed main-navigation__item-link" href="#search__main-navigation-search" aria-controls="search__main-navigation-search" id="search-toggle-btn" data-bs-toggle="collapse" aria-expanded="false" >
        <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/search.svg" class="ce-site-header__search-icon-search" aria-hidden="true" focusable="false"/>
        <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/x-circle.svg" class="ce-site-header__search-icon-close" aria-hidden="true" focusable="false"/>
    </a>
    <div class="ce-site-header__search-field-wrp collapse search-collapse" id="search__main-navigation-search" aria-labelledby="search-toggle-btn">
        <div class="ce-site-header__search-field {f:if(condition: flexform.main_nav_full_width, then: ' container-fluid', else: ' container')}">
          <f:cObject typoscriptObjectPath="lib.contentObject.mainNavigationSearch.20" />
        </div>
    </div>
  </div>
  </f:section>

<f:comment>Lang menu section</f:comment>
<f:section name="langmenu">
        <f:for each="{languageNavigation}" as="language">
          <f:if condition="{language.active}">
            <a class="header__language-menu-link dropdown-toggle main-navigation__item-link" href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="main-flag-language flag-language">{language.navigationTitle}</span>
              <span class="main-flag-language-icon flag-language">
                <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/globe.svg" aria-hidden="true" focusable="false" width="20" height="20"/>
              </span>
            </a>
          </f:if>
        </f:for>
        <div class="header__language-menu-box dropdown-menu">
          <div class="header__language-menu-box-content {f:if(condition: flexform.main_nav_full_width, then: 'container-fluid', else: 'container')}">
            <ul class="header__language-menu-box-content-list">
              <f:for each="{languageNavigation}" as="language">
                <f:if condition="{language.active} == 0">
                    <li>
                      <f:if condition="{language.link}">
                          <a href="{language.link}" class="header__language-menu-box-item{f:if(condition: language.active, then: ' active')}">
                            <span class="flag-icon icon-{language.flag}"></span>
                            {language.navigationTitle}
                          </a>
                      </f:if>
                    </li>
                </f:if>
              </f:for>
            </ul>
          </div>
        </div>
</f:section>

<f:comment>======== Main navigation dropdown ========</f:comment>
<f:section name="mainNavigationdropdown">

  <a href="#"
    id="navbarDropdown{navItem.data.uid}"
    class="main-navigation__item-link
      {f:if(condition: navItem.children, then:' dropdown-toggle')}"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
      {navItem.title}
  </a>

  <f:if condition="{{flexform.main_nav_dropdown} == dropdown">
    <f:then>
      <f:render section="mainNavigationMenuDropdown" arguments="{_all}" />
    </f:then>
    <f:else>
      <f:render section="mainNavigationBigMenuDropdown" arguments="{_all}" />
    </f:else>
  </f:if>

</f:section>

<f:comment>======== Main navigation menu dropdown ========</f:comment>
<f:section name="mainNavigationMenuDropdown">
  <ul class="main-navigation__dropdown-item-list
    dropdown-menu
    {f:if(condition: '{navItem.data.doktype} == 1 || {navItem.data.doktype} == 9 || {navItem.data.doktype} == 3', then: ' show-parent-link')}"
    aria-labelledby="navbarDropdown{navItem.data.uid}">

    <f:if condition="{navItem.data.doktype} == 1 || {navItem.data.doktype} == 9 || {navItem.data.doktype} == 3 ">
      <li class="main-navigation__dropdown-item {f:if(condition: navItem.active, then:' active')} {navItem.data.uid}">

        <f:render section="menuLink" arguments="{item:navItem, class: 'main-navigation__dropdown-item-link main-navigation__dropdown-item-parent-link'}" />

      </li>
    </f:if>

    <f:for each="{navItem.children}" as="childItem">

      <f:if condition="{childItem.spacer}">
        <f:then>
            <li class="main-navigation__dropdown-item-divider"></li>
        </f:then>

        <f:else>
          <li class="main-navigation__dropdown-item {f:if(condition: childItem.active, then:' active')} {childItem.data.uid}">

            <f:render section="menuLink" arguments="{item:childItem, class: 'main-navigation__dropdown-item-link'}" />

          </li>
        </f:else>
      </f:if>

    </f:for>
  </ul>
</f:section>

<f:comment>======== Main navigation big menu dropdown ========</f:comment>
<f:section name="mainNavigationBigMenuDropdown">
  <f:variable name="breakpoint"><f:if condition="{flexform.main_nav_mobile_breakpoint} == main-navigation-expand-xxl">
    <f:then>col-xxl-3</f:then>
    <f:else if="{flexform.main_nav_mobile_breakpoint} == main-navigation-expand-xl">col-xl-3</f:else>
    <f:else>col-lg-3</f:else>
  </f:if></f:variable>
  <div class="main-navigation__dropdown-item-list dropdown-menu big-menu-dropdown
    {f:if(condition: '{navItem.data.doktype} == 1 || {navItem.data.doktype} == 3 || {navItem.data.doktype} == 9', then: ' show-parent-link')}"
    aria-labelledby="navbarDropdown{navItem.data.uid}" id="dropdown-big-menu">

    <div class="{f:if(condition: flexform.main_nav_full_width, then: ' container-fluid', else: ' container')}">
      <f:if condition="{navItem.data.doktype} == 1 || {navItem.data.doktype} == 3 || {navItem.data.doktype} == 9">
        <div class="main-navigation__dropdown-item {f:if(condition: navItem.active, then:' active')} {navItem.data.uid}">
          <f:render section="menuLink" arguments="{item:navItem, class: 'main-navigation__dropdown-item-link main-navigation__dropdown-item-parent-link'}" />
        </div>
      </f:if>
      <div class="row">
        <f:for each="{navItem.children}" as="childItem" iteration="iteration">
          <f:if condition="{iteration.isFirst}">
            <div class="{breakpoint}">
          </f:if>
          <f:if condition="{childItem.spacer}">
            <f:then>
              </div><div class="{breakpoint}">
            </f:then>
            <f:else>
              <f:comment>Start sub menu level 2</f:comment>
              <ul class="main-navigation__big-dropdown-item-list _sub-menu-level-2">
                <li class="main-navigation__dropdown-item-wrp {f:if(condition: childItem.active, then:' active')} {childItem.data.uid}">

                  <f:if condition="{childItem.data.doktype} == 1 || {childItem.data.doktype} == 9 || {childItem.data.doktype} == 3 || {childItem.data.doktype} == 4">
                    <f:then>
                      <f:if condition="{childItem.children}">
                        <f:then>
                          <f:render section="menuLink" arguments="{item:childItem, class: 'main-navigation__dropdown-item-link main-navigation__dropdown-item-parent-link-with-child'}" />
                        </f:then>
                        <f:else>
                          <f:render section="menuLink" arguments="{item:childItem, class: 'main-navigation__dropdown-item-link'}" />
                        </f:else>
                      </f:if>
                    </f:then>
                    <f:else>
                      <span class="main-navigation__dropdown-item-link main-navigation__dropdown-item-parent-link">{childItem.title}</span>
                    </f:else>
                  </f:if>
                  <f:if condition="{childItem.data.hide_subpages_in_menu} == 0 && {childItem.children}">
                    <a class="mobile-menu-toggler stretched-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#child-{iteration.cycle}" aria-controls="child-{iteration.cycle}" aria-expanded="false" aria-label="Toggle mobile menu links">
                      <t3kit:render.svg src="/typo3conf/ext/t3kit/Resources/Public/assets/Icons/Bootstrap/plus.svg" aria-hidden="true" focusable="false" width="30" height="30"/>
                    </a>
                  </f:if>

                  <f:comment>Start sub menu level 3</f:comment>
                  <f:if condition="{childItem.data.hide_subpages_in_menu} == 0">
                      <ul class="main-navigation__big-dropdown-item-list _sub-menu-level-3 collapse mobile-menu-links-collapse" id="child-{iteration.cycle}">
                        <f:for each="{childItem.children}" as="grandChildItem">
                          <f:if condition="{grandChildItem}">
                            <li class="main-navigation__dropdown-item {f:if(condition: grandChildItem.active, then:' active')} {grandChildItem.data.uid}">
                              <f:render section="menuLink" arguments="{item:grandChildItem, class: 'main-navigation__dropdown-item-link main-navigation__dropdown-item-child-link'}" />
                            </li>
                          </f:if>
                        </f:for>
                      </ul>
                  </f:if>
                  <f:comment>End sub menu level 3</f:comment>
                </li>
              </ul>
              <f:comment>End sub menu level 2</f:comment>
            </f:else>
          </f:if>
          <f:if condition="{iteration.isLast}">
            </div>
          </f:if>
        </f:for>
      </div>
    </div>
  </div>
</f:section>

<f:comment>Main menu link section</f:comment>
<f:comment>+Accessibility for target _blank link structure</f:comment>
<f:section name="menuLink">
  <a href="{item.link}"
    class="{class} {f:if(condition: item.target,then: ' target-blank-link')}"
    {f:if(condition: item.target, then: 'rel="noreferrer"' )}
    {f:if(condition: item.target, then: 'target="_blank"')}
    {f:if(condition: item.current, then: 'aria-current="page"')}>

    <f:if condition="{item.target}">
      <f:then>
        <strong class="main-navigation__item-link-title target-blank-link__title">
          {item.title}
        </strong>
        <span class="target-blank-link__msg">
          <f:translate key="target_blank" extensionName="t3kit" />
        </span>
        <span class="target-blank-link__icon-wrp">
          <svg class="target-blank-link__icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          </svg>
        </span>
      </f:then>

      <f:else>
        <span class="main-navigation__item-link-title">
          {item.title}
        </span>
      </f:else>
    </f:if>
  </a>
</f:section>

</html>
