name: Code Guidelines
# https://github.com/t3kit/.github/blob/master/CONTRIBUTING.md#coding-rules

on: [push, pull_request]

jobs:

  main:
    name: Check Code Guidelines
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        php-version: ['7.4']

    steps:
      - uses: actions/checkout@v2

      - name: Set up PHP v${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Set up Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Get composer cache directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run composer test
        run: composer test

      - name: Get npm cache directory
        id: npm-cache
        run: |
          echo "::set-output name=dir::$(npm config get cache)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm@latest
        run: npm install -g npm@latest

      - name: Install npm dependencies
        run: npm ci

      - name: Run npm test
        run: npm test

      - name: Run npm build
        run: npm run build

      - name: Run npm icons
        run: npm run icons

      - name: Run npm filetypeIcons
        run: npm run filetypeIcons

      - name: Run npm favicons
        run: npm run favicons

      - name: PKG versions
        run: |
          node -v
          npm -v
          php -v
          composer -v
